{% set config = THIS.get('config') %}
{% set mediaLib =  APP.instance('FCom_Admin_Controller_MediaLibrary') %}
{% set uploadConfig = mediaLib.uploadConfig() %}
{#{% set mediaLibConfig = mediaLib.gridConfig({'id': config.id, 'config': config.config, 'mode': config.mode}) %}#}
{% set mediaLibConfig = config.gridConfig %}
{#{{ dump(config) }}#}
{#{{ dump(uploadConfig) }}#}

<div class="f-admin-main-view">
    <div class="page-header f-admin-page-header">
        {% if config.title %}
        <h1 class="f-page-title">
            <i class="icon-table"></i>
            {{ config.title }}
        </h1>
        {% endif %}

        <div class="btn-group">
        </div>
    </div>
    <div class="f-admin-main">
        {{ THIS.view('core/messages') | raw }}
        <div class='' id='{{ config.id }}-attach_library'>
            {{ THIS.view('core/griddle').set('grid', mediaLibConfig) | raw }}
        </div>

        <div class="modal fade" id="{{ config.id }}-upload-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="{{ "Close"|_ }}"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ "Upload Files"|_ }}</h4>
                    </div>
                    <div class="modal-body">
                        <div>
                            <select id="media-library-upload-types" class="form-control">
                                {% for uc in uploadConfig %}
                                    <option value="{{ uc.type }}">{{ uc.label }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {{ THIS.view('core/medialib/upload').set({'config': config, 'uploadConfig': uploadConfig}) | raw }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ "Close"|_ }}</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div>
</div>

<script type="text/javascript">
    require(['jquery'], function ($) {
        var uploadConfigs       = {{ UTIL.toJSON(uploadConfig) | raw }};
        var uploadUrlBase       = "{{ APP.href("media/grid/upload?type=") | raw }}";
        var thumb_path          = '';
        var $mediaTypes         = $("#media-library-upload-types");
        var type                = $mediaTypes.val();
        var uploadUrl           = uploadUrlBase + type;
        var $uploader           = $("#{{config.id}}-media-upload");
        var uploaderInitialized = false;
        $mediaTypes.on('change', function (e) {
            type = $(this).val();
            uploadUrl = uploadUrlBase + type;
            $uploader.fileupload('option', {url: uploadUrl});
            switch(type) {
                case 'product-images':
                    thumb_path = 'resize.php?s=68&f=media/product/images/';
                    break;
                case 'product-attachments':
                    thumb_path = 'resize.php?s=68&f=media/product/attachment/';
                    break;
                case 'product-videos':
                    thumb_path = 'resize.php?s=68&f=media/product/videos';
                    break;
                case 'images':
                    thumb_path = 'resize.php?s=68&f=media/images/';
                    break;
            }
        });
        var mediaLibGrid{{ config.id }};

        window.registerGrid{{ config.id }} = function (grid) {
            window.{{ config.id }}_grid = mediaLibGrid{{ config.id }} = grid;
            //re-scan image button
            $('#{{ config.id }}-attach_library').find('.btn-rescan-media').on('click', function () {
                $.post('{{ APP.href("media/grid/rescan_library") | raw }}', {do: 'rescan_library'}, function (response) {
                    if (response.status == 'success') {
                        $.bootstrapGrowl("Rescan success", {type: 'success', align: 'center', width: 'auto'});
                        mediaLibGrid{{ config.id }}.refresh();
                    } else {
                        $.bootstrapGrowl("Error:<br>" + response.message, {
                            type: 'danger',
                            align: 'center',
                            width: 'auto',
                            delay: 5000
                        });
                    }
                });
            });
        };

        window.gridShowMedia{{ config.id }} = function () {
            var mediaModal = $('#{{ config.id }}-upload-modal');
            if (mediaModal) {

                mediaModal.modal('show');
                if (!uploaderInitialized) {
                    var files = 0;
                    $uploader.fileupload('option', {
                        url: uploadUrl
                    }).bind('fileuploadchange', function (e, data) {
                        files += data.files.length;
                        if (files > 0) {
                            $mediaTypes.attr('disabled', true); // disable changing upload type after initiating upload
                        }
                    }).bind('fileuploadfail', function () {
                        files--;
                        if (files == 0) {
                            $mediaTypes.attr('disabled', false);
                        }
                    });
                    uploaderInitialized = true;
                }
            }
        };

        $uploader.bind('fileuploadalways', function (e, data) {
            //console.log('DEBUG: fileuploadalways.data', data);

            var mediaGrid = mediaLibGrid{{ config.id }};

            if (mediaGrid) {
                //push data to media grid after upload
                if ($.isArray(data.result.files)) {
                    var rows = [], selectedRows = [];
                    data.result.files.forEach(function (obj) {
                        // Thumb path missing for display images or file after upload on grid
                        if (!obj.thumb_path) {
                            obj.thumb_path = thumb_path + obj.file_name;
                        }

                        {% if config.multiSelAllowed %}
                        selectedRows.push(obj);
                        {% endif %}

                        rows.push(obj);

                        $('td.name span').each(function (i) {
                            if ($(this).html() === obj.file_name) {
                                $(this).parents('tr:first').remove();
                            }
                        });
                    });

                    if (selectedRows.length) {
                        mediaGrid.addSelectedRows(selectedRows);
                    }
                    mediaGrid.addRows(rows);
                }
            }
        });
    });
</script>
