{% set compare = APP.instance('Sellvana_ProductCompare_Model_Set').sessionSet().getCompareProductsDetails(1) %}
{% set compareJson = UTIL.toJson(compare) %}

<div class="f-widget f-widget-prods-compare">
    <form method="post" action="{{ APP.href('catalog/compare') }}">
        {# Duplicate CSRF input #}
        {#<input type="hidden" name="X-CSRF-TOKEN" value="{{ SESSION.csrfToken() }}"/>#}
        <strong class="f-widget-title">{{ 'Compare up to 4 products'|_ }}</strong>
        <ul class="f-widget-content">
            {% for i in 0..3 %}
                {% set s = compare[i] %}
                {% if s %}
                    <li class="item">
                        <a href="{{ APP.href('catalog/compare/remove?id=') ~ s.id }}" title="{{ s.alt }}"><img
                                    src="{{ s.src }}" width="40" height="40" alt="{{ s.alt }}"/></a>
                    </li>
                {% else %}
                    <li class="item"></li>
                {% endif %}
            {% endfor %}
        </ul>
      <a href="{{ APP.href('catalog/compare') }}" class="btn btn-default btn-sm compare-trigger" rel="#compare-overlay"><span>{{ "Compare" |_ }}</span></a>
      <button name="submit" type="submit" class="btn btn-default btn-sm reset-btn" value="reset">{{ 'Reset' |_ }}</button>
    </form>
</div>
<!-- /.f-widget-prods-compare -->

<div class="overlay" id="compare-overlay"><div class="contentWrap"></div></div>
<script>
require(['jquery', 'fcom.productcompare'], function($) {
    var compare = {{ compareJson | default('[]') | raw }};
    $(function() { // let all checkboxes to load first
        // Class name `block-compare` do not available
        $(document).data('compare', new FCom.CompareBlock({
            thumbContainer: '.f-widget-prods-compare',
            checkbox: '.btn-compare',
            img: '.f-prod-img',
            productIds: compare,
            url_add: '{{ APP.href('catalog/compare/addxhr') }}',
            url_remove: '{{ APP.href('catalog/compare/rmxhr') }}'
        }));

        /*$("#compare-trigger").overlay({
            mask: { color:'#000', loadSpeed:0, opacity:0.3 },
            effect:'default',
            speed:0,
            onBeforeLoad: function() {
                this.getOverlay().find(".contentWrap").load(this.getTrigger().attr("href"));
            }
        });
*/
    });
})
</script>
