{% set category = APP.get('current_category') %}
{% set parts = category.getPageParts(true) %}

    {{ THIS.view('breadcrumbs') | raw }}
    <header class="f-page-header visible-xs">
      <span class="f-page-title">{{ category.get('node_name') }}</span>
      <a href="javascript:void(0);" id="button" class="f-mb-slideout-menu-toggle btn btn-default visible-xs">{{ 'Filters'|_ }}</a>
    </header>
    <div class="row f-mb-slideout-menu">
      <!-- Category -->
      <div class="f-col-main {{ category.get('show_sidebar') ? 'col-sm-9' : 'col-sm-12' }}">
        <header class="f-page-header hidden-xs">
          <h1 class="f-page-title">{{ category.get('node_name') }}</h1>
        </header>
        {% for part, label in parts %}
          {% if part == 'sub_cat' and category.get('show_sub_cat') %}

              {% set subCategories = category.children() %}
              <div class="f-catalog-sub-cats">
              {% if subCategories|length %}
                {{ THIS.view('catalog/category/subcategories').set('subcategories', subCategories) | raw }}
              {% else %}
                <p>
                  {{ 'No sub-categories.'|_ }}
                </p>
              {% endif %}
              </div>

          {% elseif part == 'content' and category.get('show_content') %}

            <div class="f-category-content">
                {{ category.get('content') | raw }}
            </div>

          {% elseif part == 'view' and category.get('show_view') %}

            {% set viewInfo = category.get('view_name') | split(':') %}
            {% if viewInfo[0] == 'view' %}

              {{ THIS.view(viewInfo[1]) | raw }}

            {% elseif viewInfo[0] == 'block' %}

              {% set blockView = APP.instance('Sellvana_Cms_Frontend_View_Block').createView(viewInfo[1]) %}
              {{ blockView | raw }}

            {% endif %}

          {% elseif part == 'products' and category.get('show_products') %}

            {{ THIS.hook('main_products') | raw }}

          {% endif %}

        {% endfor %}
      </div>
      {% if category.get('show_sidebar') %}
        <!-- Sidebar Start -->
        <aside class="f-col-sidebar col-sm-3 ">
            {{ THIS.hook('sidebar-left') | raw }}
        </aside>
        <!-- Sidebar End -->
      {% endif %}
    </div>

<script>
  require(['jquery'], function($) {
    $( "#button" ).click(function() {
      $('.f-mb-slideout-menu .f-col-sidebar').toggleClass( "open" );
    });
  });
</script>
