html {
	width: 100%;
	height: 100%;
}
body { font-size:13px; }
a {
	color: #5d76c7;
	&:active {
		color: #4c68c0;
		text-decoration: none;
	}
	&:hover {
		color: #4c68c0;
		text-decoration: none;
	}
	&:focus {
		color: #4c68c0;
		text-decoration: none;
	}
	&.dropdown-toggle {
		outline: none;
	}
	&.btn-link {
		text-transform: none;
	}
	.icon-stack {
		display: inline-block;
		text-decoration: none;
	}
	.icon-spin {
		display: inline-block;
		text-decoration: none;
	}
	.icon-rotate-90:before {
		display: inline-block;
	}
	.icon-rotate-180:before {
		display: inline-block;
	}
	.icon-rotate-270:before {
		display: inline-block;
	}
	.icon-flip-horizontal:before {
		display: inline-block;
	}
	.icon-flip-vertical:before {
		display: inline-block;
	}
}
select {
	border: 1px solid #ccc;
}
label {
	margin-bottom: 2px;
	font-weight: 400;
	&.error {
		display: block;
		margin-top: 5px;
		font-weight: bold;
		font-size: 13px;
		color: #ca0000;
	}
	&.control-label.required:after {
		content: "*";
		padding-left: 3px;
	}
}
input[type="radio"] {
	width: 15px;
	height: 15px;
}
input[type="checkbox"] {
	width: 15px;
	height: 15px;
}
h1 {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 22px;
	[class^="icon-"] {
		color: #aaa;
	}
}
h2 {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 24.5px;
}
h3 {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 21px;
}
h4 {
	font-size: 17.5px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 10.5px;
}
.container {
	max-width: 100% !important;
}
/* Header */
.f-admin-nav-bg {
	position: absolute;
	float: left;
	box-shadow: inset -2px 0 2px #383e44;
	width: 200px;
	background: #383f45;
	display: block;
	top: 0;
	bottom: 0;
	z-index: 9;
}
.f-admin-nav {
	width: 200px;
	position: absolute;
	left: 0;
	top: 45px;
	z-index: 10;
	&.main-nav-fixed {
		top: 40px;
		left: 0;
		z-index: 900;
		&.affix {
			position: fixed;
			top: 0;
		}
		&.affix-top {
			top: 40px !important;
		}
		&.affix-bottom {
			position: fixed;
		}
	}
	.navigation {
		width: 100%;
		.nav {
			margin-bottom: 0;
		}
		.search {
			display: none;
			form {
				margin: 10px 0;
				.search-wrapper {
					border: 1px solid #e7e7e7;
					position: relative;
					margin-left: auto;
					margin-right: auto;
					button {
						position: absolute;
						right: 7px;
						top: 7px;
						padding: 0;
						color: #3c3c3c;
						text-shadow: none;
						text-decoration: none;
						-webkit-transition: color 100ms ease;
						-moz-transition: color 100ms ease;
						-o-transition: color 100ms ease;
						transition: color 100ms ease;
						&:hover {
							color: #2f2f2f;
						}
					}
					input {
						padding: 5px 25px 5px 7px;
						color: #222;
						background: #f9f9f9;
						border: none;
						-webkit-box-shadow: none;
						-moz-box-shadow: none;
						box-shadow: none;
						-webkit-transition: border 100ms ease;
						-moz-transition: border 100ms ease;
						-o-transition: border 100ms ease;
						transition: border 100ms ease;
						&:-moz-placeholder {
							color: #2f2f2f;
						}
						&:-ms-input-placeholder {
							color: #2f2f2f;
						}
						&:hover {
							border: none;
						}
						&:focus {
							border: none;
							&:-moz-placeholder {
								color: #3c3c3c;
							}
							&:-ms-input-placeholder {
								color: #3c3c3c;
							}
						}
						&:focus::-webkit-input-placeholder {
							color: #3c3c3c;
						}
					}
					input::-webkit-input-placeholder {
						color: #2f2f2f;
					}
					&:hover input {
						background: #fcfcfc;
					}
				}
			}
		}
		> .nav > li {
			position: relative;
			display: block;
			margin: 0;
			color: #c2c7cb;
			> {
				a {
					border-bottom: 1px solid #343b42;
					display: block;
					height: 35px;
					background: #383f45;
					padding: 0;
					font-size: 12px;
					*zoom: 1;
					overflow: visible !important;
					line-height: 35px;
					[class^="icon-"] {
						float: left;
						width: 35px;
						height: 35px;
						color: #858c93;
						font-size: 16px;
						line-height: 36px;
						text-align: center;
					}
					span {
						position: relative;
						top: 0;
						height: 34px;
						color: #c2c2c2;
						font-weight: 500;
						text-transform: uppercase;
					}
					[class*=" icon-"] {
						float: left;
						width: 35px;
						height: 35px;
						color: #858c93;
						font-size: 16px;
						line-height: 36px;
						text-align: center;
					}
				}
				.nav > li {
					margin: 0;
					font-weight: 400;
					> .nav > li > a {
						padding-left: 50px;
					}
					a [class*="icon-angle"] {
						margin-top: -9px;
						margin-right: 2px;
						&:before {
							font-size: 15px;
							content: "\f107";
						}
					}
				}
			}
			&.active {
				a {
					border-bottom: none;
					background: #748ddd;
				}
				> a {
					[class^="icon-"] {
						color: #fff;
					}
					span {
						color: #fff !important;
					}
					[class*=" icon-"] {
						color: #fff;
					}
				}
			}
			.nav {
				display: none;
				background: #464d54;
				> li {
					> a {
						padding: 6px 13px;
						color: #c2c2c2;
						background: none;
						font-size: 13px;
						&:hover {
							color: #fff;
							background: #40474e;
							[class^="icon-"] {
								color: #fff;
							}
							[class*=" icon-"] {
								color: #fff;
							}
						}
						.icon-angle-down {
							float: right;
							margin-top: 1px;
							margin-right: 7px;
						}
						[class^="icon-"] {
							display: inline-block;
							text-align: center;
							width: 25px;
							&.angle-down {
								width: auto !important;
							}
						}
						&:focus {
							[class^="icon-"] {
								color: #fff;
							}
							[class*=" icon-"] {
								color: #fff;
							}
						}
						[class*=" icon-"] {
							display: inline-block;
							text-align: center;
							width: 25px;
							&.angle-down {
								width: auto !important;
							}
						}
					}
					&.active > a {
						color: #fff;
						[class^="icon-"] {
							color: #6983d6;
						}
						[class*=" icon-"] {
							color: #6983d6;
						}
					}
				}
			}
			a [class*='icon-angle-'] {
				width: auto !important;
				margin-right: 10px;
				width: auto !important;
				margin-right: 10px;
				float: right;
				line-height: 36px;
			}
			&:hover > a span {
				color: #fff !important;
			}
			&:focus > a span {
				color: #fff !important;
			}
		}
	}
}
.main-nav-opened {
	.f-admin-nav-bg {
		width: 200px;
	}
	.f-admin-nav {
		width: 200px;
		overflow: visible;
		.navigation > .nav > li {
			span,
			i.angle-down {
				display: inline !important;
			}
		}
	}
	.f-admin-main-view {
		margin-left: 200px;
	}
}
.main-nav-closed {
	.f-admin-nav-bg {
		width: 35px;
	}
	.f-admin-main-view {
		margin-left: 35px;
	}
	.f-admin-nav .navigation > .nav > li {
		span,
		i.angle-down {
			display: none;
		}
		> .nav {
			display: none !important;
		}
	}
}

/* Main */
.f-admin-main-view {
	min-height: 100%;
	padding-right: 0;
	padding-left: 0;
	margin: 0;
	margin-left: 200px;
	min-width: 276px;
	.f-admin-page-header {
		margin-top: 0;
		&.f-has-breadcrumbs {
			margin-bottom: 0;
		}
		+ {
			.box {
				margin-top: -21px;
			}
			.nav {
				margin-top: -20px;
				> li > a {
					padding: 7px 12px;
				}
			}
		}
	}
	> {
		.form {
			min-height: 100%;
		}
		.tabbable {
			min-height: 100%;
		}
		.alert {
			margin-top: -20px;
			border-radius: 0;
		}
		.f-admin-page-header + .f-admin-main > .f-grid-wrapper {
			margin-top: -20px;
		}
	}
	&.f-sidebar-view {
		.f-admin-main {
			margin: -20px 0 0;
			padding: 0;
		}
		&.f-tree-layout .f-admin-main {
			margin-top: 0;
		}
		> .alert {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}
.f-admin-page-header {
	background: #f6f6f6;
	border-bottom: 1px solid #e4e4e4;
	padding: 8px 15px;
	.f-page-title {
		margin: 5px 0 4px;
		font-weight: bold;
		font-size: 18px;
		vertical-align: middle;
		[class^='icon-'] {
			display: none;
			margin-right: 5px;
			color: #999 !important;
		}
	}
	.entity-glimpse {
		clear: both;
		margin-bottom: 3px;
		color: #777;
		font-size: .95em;
	}
	.btn-link {
		padding-top: 0;
		padding-bottom: 0;
		font-weight: 500;
		text-transform: none;
	}
	.btn {
		margin-top: 0;
		padding: 6px 15px;
		font-size: 13px;
		font-weight: 500;
		line-height: 1.2;
		[class^='icon'] {
			margin-right: 5px;
		}
		.caret {
			margin-left: 5px;
		}
		&:only-child + .btn:only-child {
			margin-left: 5px;
		}
	}
	&:before {
		content: " ";
		display: table;
	}
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
	> .btn-group {
		margin-left: 5px;
		> {
			.btn {
				border: 1px solid rgba(0,0,0,.110);
				&:last-child:not(:first-child) {
					border-bottom-left-radius: 0;
					border-top-left-radius: 0;
				}
				&:first-child:not(:last-child):not(.dropdown-toggle) {
					border-bottom-right-radius: 0;
					border-top-right-radius: 0;
				}
				&:not(:first-child):not(:last-child):not(.dropdown-toggle) {
					border-radius: 0;
				}
			}
			.dropdown-menu {
				padding: 10px;
			}
			.dropdown-toggle:not(:first-child) {
				border-bottom-left-radius: 0;
				border-top-left-radius: 0;
			}
		}
	}
	.date-range-plugin.open .btn-default {
		border: 1px solid rgba(0,0,0,.110);
	}
}
.f-admin-container {
	min-height: 100%;
}
.invoice {
	.invoice-header {
		border-bottom: 1px solid #ddd;
		padding-bottom: 20px;
		margin-bottom: 40px;
		overflow: hidden;
		*zoom: 1;
		.invoice-title {
			float: left;
			font-size: 30px;
		}
		.invoice-number {
			float: right;
			color: #999;
			font-size: 30px;
		}
	}
	.seller {
		overflow: hidden;
		*zoom: 1;
		.icon-globe {
			float: left;
			font-size: 20px;
			color: #999999;
		}
		address {
			float: left;
			margin-left: 20px;
			font-size: 16px;
		}
	}
	.buyer {
		overflow: hidden;
		*zoom: 1;
		.icon-globe {
			float: left;
			font-size: 20px;
			color: #999999;
		}
		address {
			float: left;
			margin-left: 20px;
			font-size: 16px;
		}
	}
	table {
		margin-top: 20px;
	}
	.subtotal {
		font-size: 30px;
	}
	.comment {
		margin-top: 40px;
	}
}
#order-container {
  h4 {
    margin-bottom:8px;
    font-size: 15px;
    > [class^='icon-'],
    > .fa {
      display:none;
    }
    a {
      > [class^='icon-'],
      > .fa {
        margin-left:2px;
        color:#bbb;
      }
      &:hover {
        > [class^='icon-'],
        > .fa {
          color:#5d76c7;
        }
      }
    }
  }
  p { margin:0; }
  .row + .row {
    h4 { margin-top:25px; }
  }
}
#orders {
	#list {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
		opacity: 0.5;
		-webkit-transition: opacity 0.2s linear;
		-moz-transition: opacity 0.2s linear;
		-o-transition: opacity 0.2s linear;
		transition: opacity 0.2s linear;
		hr {
			margin: 10px 0;
			&:last-child {
				display: none;
			}
		}
		.price {
			margin: 0;
			margin-bottom: 10px;
		}
		&:hover {
			filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
			opacity: 1;
		}
	}
	#detail {
		.pager {
			margin: 0;
		}
		.form-actions {
			margin-bottom: 0;
		}
		.only-checkbox {
			width: 10px;
			input[type="checkbox"] {
				margin: 0;
			}
		}
	}
}
[class^="icon-"] {
	display: inline;
	width: auto;
	height: auto;
	line-height: normal;
	vertical-align: baseline;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat;
	margin-top: 0;
}
.icon-white {
	background-image: none;
}
.dropdown-menu {
  border-radius:3px;
	margin-top: -1px;
	min-width: 130px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.125);
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.125);
	font-size:13px;
	> li {
	  &.divider {
  	  margin:4px 0;
	  }
	  > a {
			padding:3px 13px;
			color: #444;
			&:hover {
				color: #fff;
				background: #748ddd;
				> [class^="icon-"],
				> [class*=" icon-"] {
				  background-image: none;
				}
			}
			&:focus {
				color: #fff;
				background: #748ddd;
			}
		}
		.active > a {
			background-image: none;
			filter: none;
			> {
				[class^="icon-"] {
					background-image: none;
				}
				[class*=" icon-"] {
					background-image: none;
				}
			}
			&:hover {
				background-image: none;
				filter: none;
			}
			&:focus {
				background-image: none;
				filter: none;
			}
		}
	}
	.dropdown-header {
	  padding-right:13px;
	  padding-left:13px;
	  color:#777;
		font-size:12px;
		font-weight:bold;
		text-transform: uppercase;
	}
}
th {
	vertical-align: top;
}
td {
	vertical-align: top;
}
.table {
	width: auto;
	thead {
		> tr > {
			th {
				font-size: .9em;
				color: #555;
				border-color: #eee;
				a {
					display: block;
					white-space: nowrap;
					text-overflow: ellipsis;
				}
			}
			td {
				border-color: #eee;
			}
		}
		tr:first-child {
			th {
				vertical-align: top;
			}
			td {
				vertical-align: top;
			}
		}
	}
	caption {
		padding: 5px;
		font-weight: bold;
		font-size: .85em;
		text-align: left;
		text-transform: uppercase;
		color: #999;
	}
	th {
		font-size: .9em;
		border-color: #eee;
	}
	td {
		font-size: .9em;
		border-color: #eee;
	}
	tbody > tr > {
		th {
			font-size: .9em;
			border-color: #eee;
		}
		td {
			border-color: #eee;
		}
	}
	tfoot > tr > {
		th {
			font-size: .9em;
			border-color: #eee;
		}
		td {
			border-color: #eee;
		}
	}
}
.open {
	.dropdown-toggle {
		&.btn-default {
			border: none;
			background: #e4e4e4;
		}
		&.btn-info {
			border: none;
			background: #2ba4ef;
		}
		&.btn-primary {
			background: #6680d3;
		}
	}
	.dd-list {
		display: block;
		position: absolute;
	}
	.btn-default.dropdown-toggle {
		color: #444;
	}
}
.nav {
	.caret {
		border-width: 5px 4px 0 4px;
		border-top-color: #90939c;
		border-bottom-color: #90939c;
		font-size: 16px;
	}
	a:hover .caret {
		border-top-color: #47484c;
		border-bottom-color: #47484c;
	}
}
.nav-tabs-centered {
	text-align: center;
	> li {
		float: none;
		display: inline-block;
	}
}
.form-horizontal {
	label[class^='col-'] {
		padding-right: 0;
	}
	label[class*=' col-'] {
		padding-right: 0;
	}
}
.form-striped {
	.form-group {
		margin-left: 0;
		margin-right: 0;
		padding: 15px 0;
		border-bottom: 1px solid #ddd;
		margin-bottom: 0;
		&:nth-child(even) {
			background-color: #f4f4f4;
		}
		&:last-child {
			border-bottom-color: transparent;
		}
	}
	.form-actions {
		margin-top: 0;
		padding: 20px 15px;
	}
}
.form-actions {
	background-color: #f4f4f4;
	padding: 20px;
	border-top: 1px solid #e5e5e5;
	margin-top: 20px;
	&.form-actions-padding {
		padding: 20px;
	}
}
.btn {
	border-radius: 3px;
	border: none;
	padding: 8px 15px;
	font-size: 13px;
	font-weight: 500;
	background: #eee;
	color: #555;
	&.disabled {
		opacity: .35;
		filter: alpha(opacity=35);
	}
	[class^='icon'] {
		font-family: FontAwesome;
	}
	.glyphicon {
		margin-right: .5em;
	}
}
.btn-xs {
	padding: 5px 7px;
	font-size: 11px;
}
.btn-sm {
	padding: 6px 12px;
	font-size: 12px;
}
.btn-lg {
	padding: 13px 18px;
	font-size: 16px;
}
.btn-default {
	border: none;
	background: #eee;
	&:hover {
		border: none;
		background: #e4e4e4;
	}
	&:focus {
		border: none;
		background: #e4e4e4;
	}
	&:active {
		border: none;
		background: #e4e4e4;
	}
	&.active {
		border: none;
		background: #e4e4e4;
	}
}
.btn-info {
	border: none;
	background: #40aff4;
	color: #fff;
	&:hover {
		border: none;
		background: #2ba4ef;
	}
	&:focus {
		border: none;
		background: #2ba4ef;
	}
	&:active {
		border: none;
		background: #2ba4ef;
	}
	&.active {
		border: none;
		background: #2ba4ef;
	}
}
.btn-link {
	padding: 0;
	background: none;
	color: #5d76c7;
}
.btn-danger {
	border: none;
	background: #d2322d;
	color: #fff;
	&.disabled {
		background: #f0dad7;
		&:hover {
			background: #f0dad7;
		}
		&:focus {
			background: #f0dad7;
		}
		&:active {
			background: #f0dad7;
		}
		&.active {
			background: #f0dad7;
		}
	}
}
.btn-success {
	border: none;
	background: #47a447;
	color: #fff;
}
.btn-warning {
	border: none;
	background: #bbb;
	color: #fff;
	&:hover {
		background: #b4b4b4;
	}
	&:focus {
		background: #b4b4b4;
	}
	&:active {
		background: #b4b4b4;
	}
	&.active {
		background: #b4b4b4;
	}
}
.input-group-btn {
	&.dropdown {
		border-right: none;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	.dropdown-toggle {
		border-right: none;
	}
}
.btn[disabled] {
	opacity: .35;
	filter: alpha(opacity=35);
}
fieldset[disabled] {
	.btn {
		opacity: .35;
		filter: alpha(opacity=35);
	}
	.btn-danger {
		background: #f0dad7;
		&:hover {
			background: #f0dad7;
		}
		&:focus {
			background: #f0dad7;
		}
		&:active {
			background: #f0dad7;
		}
		&.active {
			background: #f0dad7;
		}
	}
}
.breadcrumb {
	padding: 10px 15px;
	line-height: 10px;
	font-size: .9em;
	background: #f9f9f9;
	.separator {
		padding: 0 3px;
		color: #ccc;
	}
	li {
		color: #777;
		&:first-child > a:hover {
			color: #6983d6;
		}
	}
	a {
		color: #777;
	}
	> li + li:before {
		display: none;
	}
}
.f-grid-pagination {
	font-size: 13px;
	position: relative;
	bottom: 10px;
	display: inline;
	margin-right: 15px;
}
.pagination {
	font-size: 13px;
	> {
		li {
			> a {
				border-radius: 3px;
				line-height: 1.3em;
			}
			&:first-child > {
				a {
					border-right: none;
				}
				span {
					border-right: none;
				}
			}
		}
		.active > {
			a {
				background-color: #f2f2f2;
				border-color: #ddd;
				color: #222;
				&:hover {
					background-color: #f2f2f2;
					border-color: #ddd;
					color: #222;
				}
				&:focus {
					background-color: #f2f2f2;
					border-color: #ddd;
					color: #222;
				}
			}
			span {
				background-color: #f2f2f2;
				border-color: #ddd;
				color: #222;
				&:hover {
					background-color: #f2f2f2;
					border-color: #ddd;
					color: #222;
				}
				&:focus {
					background-color: #f2f2f2;
					border-color: #ddd;
					color: #222;
				}
			}
		}
	}
}
.accordion {
	.panel {
		border-color: #ddd;
		box-shadow: none;
	}
	.panel-heading {
		background: #f5f5f5;
		.accordion-toggle {
			display: block;
			margin: -10px -15px;
			padding: 10px 15px;
			color: #444;
		}
	}
	.panel-body .f-horiz-nav-tabs {
		margin: -15px -15px 0 -15px;
	}
}
.label-important {
	background-color: #347bd6;
}
.label-important[href] {
	background-color: #f01611;
}
.label-warning {
	background-color: #f8a326;
}
.label-warning[href] {
	background-color: #e48a07;
}
.label-success {
	background-color: #49bf67;
}
.label-success[href] {
	background-color: #379e51;
}
.label-info {
	background-color: #9564e2;
}
.label-info[href] {
	background-color: #7839da;
}
.label-inverse {
	background-color: #3c3c3c;
}
.label-inverse[href] {
	background-color: #232323;
}
.badge-important {
	background-color: #347bd6;
}
.badge-important[href] {
	background-color: #f01611;
}
.badge-warning {
	background-color: #f8a326;
}
.badge-warning[href] {
	background-color: #e48a07;
}
.badge-success {
	background-color: #49bf67;
}
.badge-success[href] {
	background-color: #379e51;
}
.badge-info {
	background-color: #9564e2;
}
.badge-info[href] {
	background-color: #7839da;
}
.badge-inverse {
	background-color: #3c3c3c;
}
.badge-inverse[href] {
	background-color: #232323;
}
.alert {
	border: none;
	padding: 10px 13px;
	font-size: .95em;
	h4 {
		font-size: 1.05em;
		margin-bottom: 4px;
	}
}
.alert-info {
	border-color: #eee;
	color: #555;
	background: #f5f5f5;
}
.progress {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;	
	box-shadow: none;
	background-image: none;
	filter: none;
	&.progress-small {
		height: 10px;
		line-height: 10px;
		.progress-bar {
			font-size: 10px;
			padding-top: 0;
		}
	}
	&.progress-mini {
		height: 5px;
		line-height: 5px;
		.progress-bar {
			font-size: 5px;
			padding-top: 0;
		}
	}
	.progress-bar {
		background-image: none;
		background-color: #00acec;
		padding-top: 2px;
	}
	&.progress {
		.progress-bar-danger {
			background-image: none;
			background-color: #6983d6;
		}
		.progress-bar-success {
			background-image: none;
			background-color: #49bf67;
		}
		.progress-bar-warning {
			background-image: none;
			background-color: #f8a326;
		}
		.progress-bar-info {
			background-image: none;
			background-color: #9564e2;
		}
	}
	&.progress-danger .progress-bar {
		background-image: none;
		background-color: #6983d6;
	}
	&.progress-success .progress-bar {
		background-image: none;
		background-color: #49bf67;
	}
	&.progress-warning .progress-bar {
		background-image: none;
		background-color: #f8a326;
	}
	&.progress-info .progress-bar {
		background-image: none;
		background-color: #9564e2;
	}
}
.progress-pwstrength {
	margin-bottom: 0;
}
.modal-body {
	overflow-y: auto;
	overflow-x: hidden;
}
.modal-content {
	border-radius: 7px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
	.modal-header {
		border-radius: 4px 4px 0 0;
		padding: 10px 15px;
		background: #464d54;
		color: #fff;
		.modal-title {
			font-size: 16px;
		}
		.close {
			margin-top: -5px;
			font-size: 25px;
			text-shadow: none;
			color: #fff;
			&:active {
				text-shadow: none;
				color: #fff;
			}
			&:focus {
				text-shadow: none;
				color: #fff;
			}
			&:hover {
				text-shadow: none;
				color: #fff;
			}
		}
	}
	.modal-footer {
		margin-top: 0;
		padding: 10px 15px;
		border-radius: 0 0 4px 4px;
		background: #f9f9f9;
	}
}
.responsive-table {
	position: relative;
	.scrollable-area {
		width: 100%;
		overflow: auto;
		overflow-y: hidden;
	}
	table td {
		position: relative;
		white-space: pre-line;
		word-wrap: break-word;
		overflow: hidden;
	}
}
.f-grid-wrapper {
	overflow: hidden;
	*zoom: 1;
	.f-grid-toolbar {
		border: 1px solid #eee;
		border-width: 1px 0;
		margin: -1px 0 0;
		padding: 6px 9px;
	}
	.f-grid-top {
		padding-bottom: 2px;
	}
	.f-grid-length {
		margin: 13px 10px 5px;
		float: left;
	}
	.f-grid-filter {
		label {
			display: none;
		}
		.form-control {
			display: inline-block;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
	.f-grid-info {
		padding: 0;
		margin: 4px 10px 10px;
	}
	.f-grid-paginate {
		margin-right: 10px;
		.pagination {
			margin: 0;
		}
	}
	th {
		&.th-sorting-asc {
			padding-right: 20px;
			> a:after {
				margin-right: -14px;
				font: normal 14px/25px FontAwesome;
				text-decoration: inherit;
				-webkit-font-smoothing: antialiased;
				filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
				color: #444;
				opacity: 0.5;
				content: "\f0de";
				float: right;
			}
		}
		&.th-sorting-desc {
			padding-right: 20px;
			> a:after {
				margin-right: -14px;
				font: normal 14px/15px FontAwesome;
				text-decoration: inherit;
				-webkit-font-smoothing: antialiased;
				filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
				color: #444;
				opacity: 0.5;
				content: "\f0dd";
				float: right;
			}
		}
		&.sortable > a {
			padding-right: 20px;
		}
	}
	.table-actions-btns-group {
		white-space: nowrap;
		.btn {
			margin-right: 5px;
		}
		.btn-link {
			&:hover {
				text-decoration: none;
			}
			i {
				color: #ddd;
				font-size: 20px;
			}
		}
	}
	.filter_column input[type="text"] {
		display: block;
		width: 100%;
		min-height: 30px;
	}
	tr:hover .table-actions-btns-group {
		.btn-link {
			i {
				color: #aaa;
				font-size: 20px;
				&.icon-pencil {
					color: #88f;
				}
			}
			&:hover i {
				color: #888;
				&.icon-pencil {
					color: #00f;
				}
			}
		}
		.btn-delete {
			i.icon-trash {
				color: #f88;
			}
			&:hover i.icon-trash {
				color: #f00;
			}
		}
	}
}
.f-filter-btns {
	.filter-span {
		margin-right: 20px;
	}
	.filter-box {
		text-align: left;
		padding: 15px;
		width: 450px;
		div {
			&.range {
				width: 100%;
			}
			&.not_range {
				width: 100%;
				display: none;
			}
		}
	}
	.f-grid-filter {
		float: left;
		margin-right: 2px;
		margin-bottom: 4px;
		.input-group-btn > .dropdown-toggle {
			border-right: none !important;
		}
	}
/*	.input-group.range .input-group-addon {
		display: inline-block;
		background: none;
		border: none;
		color: #999;
		padding: 6px 5px;
		margin-left: -28px;
	}*/
	.f-grid-filter-val .dropdown-toggle .caret {
		border-top-color: #444444;
	}
}
.f-grid-bottom {
	.dd-nestable {
		margin-right: 15px;
	}
	.btn {
		padding: 7px 15px;
	}
	+ .scrollable-area {
		margin-top: -1px;
	}
}
.tab-pane {
	.f-grid-bottom .btn {
		font-size: 12px;
		padding: 5px 10px;
	}
	> .f-section > .jstree {
		padding: 0;
	}
}
.f-grid-toolbar {
	> {
		[class*='col-'] {
			padding-right: 0;
			padding-left: 0;
		}
		.f-col-filters-selection + [class^='col-'] {
			width: auto;
			float: none;
		}
	}
	.f-col-filters-selection {
		border-right: 1px solid #eee;
		margin-right: 8px;
		padding-right: 10px;
	}
	.btn {
		height: 31px;
		font-weight: 500;
	}
	.f-filter-btns {
		.dropdown {
			&.f-grid-filter-val {
				.select2-search-choice-close {
					display: inline-block;
					margin-top: -1px;
					border-radius: 15px;
					width: 15px;
					height: 15px;
					background: #bbb !important;
					color: #fff;
					font: 12px FontAwesome;
					text-align: center;
					line-height: 16px;
					&:before {
						content: "\f00d";
					}
				}
				> .dropdown-toggle {
					background: none;
					padding: 1px 10px;
					line-height: 30px;
					font-size: 12px;
					font-weight: 500;
					height: 31px;
					border-radius: 3px;
					box-shadow: none;
					border: none;
					background: #eaedf6;
					padding-left: 28px;
					color: #444;
					font-weight: bold;
					&:hover {
						padding-left: 27px;
					}
				}
			}
			.dropdown-toggle {
				&:hover {
					box-shadow: none;
					border: 1px solid #ddd;
					border-bottom-color: #ccc;
					padding: 0 9px;
					background: linear-gradient(to bottom, #f8f8f8 0,#f2f2f2 100%);
					filter: progid:dximagetransform.microsoft.gradient(startcolorstr='#f8f8f8', endcolorstr='#f2f2f2',gradienttype=0 );
					font-size: 12px;
					text-transform: none;
				}
				&:focus {
					box-shadow: none;
					border: 1px solid #ddd;
					border-bottom-color: #ccc;
					padding: 0 9px;
					background: linear-gradient(to bottom, #f8f8f8 0,#f2f2f2 100%);
					filter: progid:dximagetransform.microsoft.gradient(startcolorstr='#f8f8f8', endcolorstr='#f2f2f2',gradienttype=0 );
					font-size: 12px;
					text-transform: none;
				}
			}
			&.open {
				.dropdown-toggle {
					box-shadow: none;
					border: 1px solid #ddd;
					border-bottom-color: #ccc;
					padding: 0 9px;
					background: linear-gradient(to bottom, #f8f8f8 0,#f2f2f2 100%);
					filter: progid:dximagetransform.microsoft.gradient(startcolorstr='#f8f8f8', endcolorstr='#f2f2f2',gradienttype=0 );
					font-size: 12px;
					text-transform: none;
				}
				&.f-grid-filter-val > .dropdown-toggle {
					padding-left: 27px;
				}
			}
		}
		> .dropdown {
			> .dropdown-toggle {
				background: none;
				padding: 1px 10px;
				line-height: 30px;
				font-size: 12px;
				font-weight: 500;
				height: 31px;
				border-radius: 3px;
				box-shadow: none;
				border: none;
				&:active {
					background: #eee;
					box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05);
					-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05);
				}
			}
			&.open > .dropdown-toggle:focus {
				background: #eee;
				box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05);
				-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05);
			}
		}
	}
	.filter-text-main {
		color: #999999;
		text-transform: none;
		.caret {
			border-top-color: #999999;
		}
	}
	.filter-text-sub {
		border-right: none;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	.dropdown .btn.update {
		padding: 8px 10px;
	}
	.select2-container .select2-choice {
		background: none;
		padding: 1px 10px;
		line-height: 30px;
		font-size: 12px;
		font-weight: 500;
		height: 31px;
		border-radius: 3px;
		box-shadow: none;
		border: none;
		&:hover {
			box-shadow: none;
			border: 1px solid #ddd;
			border-bottom-color: #ccc;
			padding: 0 9px;
			background: linear-gradient(to bottom, #f8f8f8 0,#f2f2f2 100%);
			filter: progid:dximagetransform.microsoft.gradient(startcolorstr='#f8f8f8', endcolorstr='#f2f2f2',gradienttype=0 );
			font-size: 12px;
			text-transform: none;
		}
		&:focus {
			box-shadow: none;
			border: 1px solid #ddd;
			border-bottom-color: #ccc;
			padding: 0 9px;
			background: linear-gradient(to bottom, #f8f8f8 0,#f2f2f2 100%);
			filter: progid:dximagetransform.microsoft.gradient(startcolorstr='#f8f8f8', endcolorstr='#f2f2f2',gradienttype=0 );
			font-size: 12px;
			text-transform: none;
		}
		&:active {
			background: #eee;
			box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05);
			-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.05);
		}
	}
}
.f-grid-filter {
	.select2-container {
		.select2-choice abbr {
			left: 7px;
			top: 8px;
			z-index: 300;
		}
		&.select2-allowclear .select2-choice .select2-chosen {
			margin-right: 10px;
			margin-left: 10px;
		}
	}
	abbr {
		left: 7px;
		top: 9px;
		z-index: 300;
		margin-right: 0;
		display: none;
		cursor: pointer;
		&:hover {
			background-position: right -11px;
		}
	}
	div.select2-container {
		font-weight: bold;
		color: #444444;
		padding: 0;
		margin: 0;
		span.select2-chosen {
			margin-right: 10px;
		}
	}
}
.f-grid-quick-search {
	display: inline;
	width: 150px;
	height: 31px;
	margin-right: 5px;
}
.f-grid-page-no {
	display: inline;
	width: 40px;
	text-align: center;
}
.pagesize {
	margin-right: 5px;
}
.f-grid-display-type {
	float: left;
}
.box {
	margin: 20px 0;
	border: 1px solid #e5e5e5;
	position: relative;
	&.box-collapsed {
		.box-content, .widget-contents {
			display: none;
		}
		.box-header .actions .box-collapse i:before {
			content: "\f078";
		}
	}
	.box-header {
		overflow: hidden;
		*zoom: 1;
		.title {
			float: left;
			color: #555;
			font-size: 15px;
			font-weight: 500;
			[class^='icon'] {
				display: none;
			}
		}
		.actions {
			margin-top: -3px;
			float: right;
			.dropdown-toggle {
				position: relative;
				top: 5px;
			}
			.btn-link {
				padding: 4px;
				color: #c4c4c4;
				font-size: 13px;
				text-decoration: none;
				text-shadow: none;
				&:hover {
					color: #777;
				}
			}
		}
		&.box-header-small {
			background: #f5f5f5;
			padding: 7px 12px 5px;
			.actions {
				margin-top: -1px;
			}
		}
	}
	.box-content {
		padding: 10px;
		background: #fff;
		display: block;
	}
}
.box-statistic {
	position: relative;
	border-radius: 3px;
	margin-bottom: 5px;
	background-color: #f8f8f8 !important;
	padding: 5px 10px;
	border: none !important;
	.title {
		margin: 0;
		color: #2f2f2f;
		line-height: 28px;
	}
	small {
		text-transform: uppercase;
	}
	[class*="icon-"] {
		font-size: 24px;
		top: 13px;
		&.align-left {
			position: absolute;
			left: 10px;
		}
		&.align-right {
			position: absolute;
			right: 10px;
			color: #ddd;
		}
	}
	&:hover [class*="icon-"] {
		&.align-right {
			right: 15px;
			-webkit-transition: right 0.1s linear;
			-moz-transition: right 0.1s linear;
			-o-transition: right 0.1s linear;
			transition: right 0.1s linear;
		}
		&.align-left {
			left: 15px;
			-webkit-transition: left 0.1s linear;
			-moz-transition: left 0.1s linear;
			-o-transition: left 0.1s linear;
			transition: left 0.1s linear;
		}
	}
}
.slimScrollBar {
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
}
.chat {
	.box-content {
		height: auto;
		padding: 0;
		-webkit-transition: height .3s ease-in-out;
		-moz-transition: height .3s ease-in-out;
		-ms-transition: height .3s ease-in-out;
		-o-transition: height .3s ease-in-out;
		transition: height .3s ease-in-out;
		border: 1px solid #bbb;
		border-width: 0 1px;
	}
	&.chat-fixed {
		width: 300px;
		position: fixed;
		z-index: 999;
		bottom: 0;
		right: 20px;
		.box {
			border-radius: 4px 4px 0 0;
			margin-bottom: 0;
			box-shadow: 0 5px 15px rgba(0,0,0,.2);
		}
		.box-header .actions .box-collapse i:before {
			content: "\f078";
		}
		form.new-message {
			border-top: 1px solid #ddd;
			textarea {
				border: none;
				width: 236px;
				height: 33px;
				padding: 4px 6px;
				line-height: 1.35em !important;
			}
			button {
				border-radius: 0;
				-moz-border-radius: 0;
				-webkit-border-radius: 0;
				height: 33px;
				width: 33px;
				padding: 8px;
				font-size: 15px;
				line-height: 1em;
			}
		}
	}
	ul {
		margin-bottom: 0;
		> li {
			border-bottom: 1px solid #e2e2e2;
			padding: 10px;
			position: relative;
			overflow: hidden;
			*zoom: 1;
			.avatar {
				position: absolute;
				margin-right: 10px;
				top: 10px;
				left: 10px;
				width: 23px;
				height: 23px;
			}
			.name-and-time {
				margin-left: 33px;
				overflow: hidden;
				*zoom: 1;
			}
			.body {
				margin-left: 33px;
			}
			.time {
				font-size: 12px;
			}
			&:last-child {
				border-bottom: none;
			}
		}
	}
	form {
		margin-bottom: 0;
		width: 100%;
		position: relative;
		overflow: hidden;
		*zoom: 1;
		input[type="text"] {
			border-left: 0;
			border-bottom: 0;
			padding-left: 12px;
			padding-top: 12px;
			padding-bottom: 12px;
			height: 45px;
			line-height: 45px;
		}
		input {
			margin-bottom: 0;
			padding-right: 40px;
		}
		button {
			position: absolute;
			top: 0;
			right: 0;
			height: 45px;
		}
	}
	.box-collapsed .box-header .actions .box-collapse i:before {
		content: "\f077" !important;
	}
	.box-header.box-header-small {
		border-radius: 4px 4px 0 0;
		padding: 7px 10px;
		background: #383f45;
		.title {
			color: #fff;
			font-size: 14px;
			font-weight: 400;
		}
		.btn-link {
			color: #fff;
			opacity: .65;
			padding: 1px 4px;
			&:hover {
				color: #fff;
				opacity: 1;
			}
			&:focus {
				color: #fff;
				opacity: 1;
			}
		}
	}
	&.box-collapsed .box-content {
		display: block;
		height: 0;
		margin-bottom: -1px;
	}
}
.f-sidebar-view {
	.f-fieldset-group {
		padding-right: 0;
		padding-left: 0;
	}
	.left_panel .tree-header {
		display: block;
		border-bottom: 1px solid #eee;
		padding: 7px 15px;
		color: #777;
		font-size: 14px;
		font-weight: 500;
		text-transform: uppercase;
	}
}
.spliter_panel {
	.left_panel {
		background: #f9f9f9;
	}
	.right_panel {
		background: #fff;
	}
}
.f-tree-layout {
	.js-expand-all {
		padding: 5px;
	}
	.js-collapse-all {
		padding: 5px;
	}
	.jstree {
		border-top: 1px solid #eee;
	}
	.spliter_panel .vspliter {
		width: 1px;
		color: #d9d9d9;
		background: #d9d9d9;
		z-index: 9;
	}
	.f-admin-main .f-horiz-nav-tabs {
		margin-top: -20px;
	}
}
.jstree {
	padding: 13px;
	&.jstree-focused {
		background: none !important;
	}
	li {
		padding: 2px 0 !important;
		position: relative;
		a {
			height: auto;
			color: #444;
			font-size: 14px;
			line-height: 18px;
			ins.jstree-icon {
				margin: 1px 5px 0 0;
				background: none;
				&:before {
					margin: 3px 2px 0 0;
					color: #b5b7bf;
					font-family: FontAwesome;
					font-size: 16px;
				}
			}
			> .jstree-checkbox:before {
				margin: 3px 2px 0 0;
				color: #b5b7bf;
				font-family: FontAwesome;
				font-size: 16px;
			}
		}
		&.jstree-checked > a {
			> .jstree-checkbox {
				display: inline-block;
				background: none !important;
				vertical-align: middle;
				margin-top: -3px;
				margin-right: 3px;
			}
			&.jstree-hovered > .jstree-checkbox {
				display: inline-block;
				background: none !important;
				vertical-align: middle;
				margin-top: -3px;
				margin-right: 3px;
			}
		}
		&.jstree-unchecked > a {
			> .jstree-checkbox {
				display: inline-block;
				background: none !important;
				vertical-align: middle;
				margin-top: -3px;
				margin-right: 3px;
			}
			&.jstree-hovered > .jstree-checkbox {
				display: inline-block;
				background: none !important;
				vertical-align: middle;
				margin-top: -3px;
				margin-right: 3px;
			}
		}
	}
	a {
		border: none;
		padding: 3px 5px 2px;
	}
	.jstree-hovered {
		border: none;
		padding: 3px 5px 2px;
		border-color: #eee !important;
		border-radius: 4px;
		background: #eee !important;
		color: #444;
		&.jstree-clicked {
			border-color: #b5b7c0 !important;
			border-radius: 4px;
			background: #b5b7c0 !important;
			color: #fff;
		}
	}
	.jstree-clicked {
		border: none;
		padding: 3px 5px 2px;
		border-color: #b5b7c0 !important;
		border-radius: 4px;
		background: #b5b7c0 !important;
		color: #fff;
		.jstree-icon:before {
			color: #fff;
			opacity: .6;
		}
		&.jstree-hovered .jstree-icon:before {
			color: #fff;
		}
	}
	.jstree-open {
		padding-bottom: 0 !important;
		a ins.jstree-icon:before {
			content: "\f115";
		}
	}
	.jstree-closed a ins.jstree-icon:before {
		content: "\f114";
	}
	.jstree-unchecked > a > .jstree-checkbox:before {
		content: "\f096";
		font-size: 17px;
	}
	.jstree-checked > a > .jstree-checkbox:before {
		color: #38a31f;
		content: "\f14a";
	}
}
label[for="categories-tree-lock"] {
	margin-left: 3px;
	font-size: 16px;
	color: #d40000;
	&.icon-unlock {
		color: #38a31f;
	}
}
label[for="nav-tree-lock"] {
	margin-left: 3px;
	font-size: 16px;
	color: #d40000;
	&.icon-unlock {
		color: #38a31f;
	}
}
.js-sortable-container {
	list-style-type: none;
	padding: 0;
}
.js-sortable-handle {
	cursor: move;
}
.dd {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}
.dd-list {
	position: relative;
	top: auto;
	margin-top: -2px;
	padding: 0;
	list-style: none;
	text-align: left;
	max-height: 300px;
	overflow: auto;
	min-width: 200px;
	.dd-list {
		padding-left: 30px;
	}
}
.dd-list-axis-x {
	background: none;
	.dd-item {
		display: block;
		float: left;
		width: 140px;
		overflow: hidden;
		margin-right: 10px;
		margin-bottom: 5px;
		background: white;
	}
	.dd3-content label {
		width: 80px;
		height: 15px;
		overflow: hidden;
	}
}
.dd-handle {
	display: block;
	border: none;
	margin: 5px 0;
	color: #777;
	font-weight: normal;
	text-decoration: none;
	&:hover {
		color: #6983d6;
		cursor: move;
	}
}
.dd-item {
	position: relative;
	display: block;
	vertical-align: top;
	margin: 0;
	padding: 0;
	font-size: 13px;
	line-height: 16px;
	border: 1px solid #eee;
	border-bottom-width: 0;
	&:last-of-type {
		border-bottom-width: 1px;
	}
	> {
		button {
			display: block;
			position: relative;
			cursor: pointer;
			float: left;
			width: 25px;
			margin: 5px 0;
			padding: 0;
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			border:none;
			background: transparent;
			line-height: 1;
			padding-top: 7px;
			text-align: center;
			font-weight: bold;
			&:before {
				content: '+';
				display: block;
				position: absolute;
				width: 100%;
				text-align: center;
				text-indent: 0;
			}
		}
		button[data-action="collapse"]:before {
			content: '-';
		}
	}
}
.dd-empty {
	position: relative;
	display: block;
	vertical-align: top;
	margin: 0;
	padding: 0;
	font-size: 13px;
	line-height: 16px;
	border: 1px solid #eee;
	border-bottom-width: 0;
}
.dd-placeholder {
	position: relative;
	display: block;
	vertical-align: top;
	margin: 0;
	padding: 0;
	font-size: 13px;
	line-height: 16px;
	border: 1px solid #eee;
	border-bottom-width: 0;
	background: #f7f7f7;
	border: 1px dashed #999 !important;
}
.dd-dragel {
	position: absolute;
	box-shadow: 0 3px 4px rgba(255,255,255,0.8);
	pointer-events: none;
	background: #f6f6f6;
	border: 1px solid #ddd;
	z-index: 9999;
	> .dd-item .dd-handle {
		margin-top: 0;
	}
}
.dd3-handle {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	margin: 0;
	width: 16px;
	height: 34px;
	white-space: nowrap;
	overflow: hidden;
	line-height: 22px;
	background: #f4f4f4;
	padding: 5px;
}
.dd3-content {
	display: block;
	border: none;
	border-radius: 0;
	padding: 5px 10px 5px 27px;
	color: #444;
	font-weight: bold;
	text-decoration: none;
}
.select2-results {
	font-size: 13px;
	.select2-highlighted {
		background-color: #6983d6;
	}
}
.select2-container {
	float: left;
	border-radius: 3px;
	margin: 0 5px 0 0;
	padding: 0;
	height: auto;
	background: none;
	&.form-control {
		.select2-choice .select2-arrow b {
			margin-top: 2px;
		}
		&.input-lg .select2-choice .select2-arrow b {
			margin-top: 7px;
		}
		&.input-sm .select2-choice .select2-arrow b {
			margin-top: 0;
		}
	}
	.select2-choice {
		border: none;
		height: 29px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		box-shadow: none;
		padding-top: 2px;
		&:focus {
			border: none;
		}
		.select2-arrow:before {
			display: inline-block;
			width: 0;
			height: 0;
			margin-left: 2px;
			vertical-align: middle;
			border-top: 4px solid  black;
			border-right: 4px solid transparent;
			border-left: 4px solid transparent;
			border-bottom: 0 dotted;
			content: "";
		}
	}
	&.select2-dropdown-open {
		overflow: hidden;
		.select2-choice .select2-arrow:before {
			background-position: -28px 2px;
			border-top: 0 dotted;
			border-right: 4px solid transparent;
			border-left: 4px solid transparent;
			border-bottom: 4px solid  black;
		}
	}
	a:focus {
		outline: none;
	}
}
.select2-container-active {
	border: 1px solid #bbb;
	.select2-choice {
		border: none;
		&:focus {
			border: none;
		}
	}
	.select2-choices {
		border: none;
		&:focus {
			border: none;
		}
	}
}
.select2-container-multi {
	.select2-choices {
		border-color: #ccc;
		.select2-search-choice {
			margin-top: 4px;
			border-radius: 3px;
			border-color: #ccc;
			color: #555;
			font-size: 12px;
		}
		.select2-search-field input {
			margin: 0;
		}
	}
	&.select2-container-active .select2-choices {
		border: none;
		&:focus {
			border: none;
		}
	}
}
.form-control {
	border-radius: 3px;
	height: 31px;
	padding: 4px 6px;
	font-family: Arial, Helvetica, sans-serif;
	&.select2-container {
		height: auto;
		padding: 0;
		.select2-choice {
			border:none;
			border-radius: 0;
		}
		&.select2-container-disabled {
  		.select2-choice {
    		border:none;
  		}
		}
	}
	&:focus {
		border-color: #999;
		box-shadow: none;
		-webkit-box-shadow: none;
	}
}
.select2-drop-active {
	border: 1px solid #ccc;
	padding-top: 4px;
}
.cke_chrome {
	border-color: #ccc !important;
	box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.cke_top {
	background: #f1f1f1 !important;
	border-color: #ccc !important;
}
.cke_bottom {
	background: #f1f1f1 !important;
	border-color: #ccc !important;
}
.cke_toolgroup {
	border-color: #ccc !important;
}
.cke_combo_button {
	border-color: #ccc !important;
}
#nprogress {
	.bar {
		background: #4ba8f7;
	}
	.peg {
		box-shadow: 0 0 10px #4ba8f7, 0 0 5px #4ba8f7;
	}
	.spinner-icon {
		border-top-color: #4ba8f7;
		border-left-color: #4ba8f7;
	}
}
.daterangepicker {
	td {
		border-radius: 0;
		&.active {
			background: #6983d6;
			&:hover {
				background: #6983d6;
			}
		}
	}
	.calendar-date {
		border-radius: 0;
	}
	th {
		border-radius: 0;
	}
	.ranges li {
		color: #222;
		border-radius: 0;
		&.active {
			color: white;
			background: #6983d6;
			border-color: transparent;
		}
		&:hover {
			color: white;
			background: #6983d6;
			border-color: transparent;
		}
	}
}
.datepicker {
	th {
		text-align: center;
		border-radius: 0;
		&:hover {
			background: #eee;
			cursor: pointer;
		}
	}
	td {
		text-align: center;
		border-radius: 0;
		&:hover {
			background: #eee;
			cursor: pointer;
		}
		span {
			border-radius: 0;
			&.active {
				&:hover {
					background: #2f82e0;
					color: #fff;
					&:hover {
						background: #2f82e0;
						color: #fff;
					}
					&:active {
						background: #2f82e0;
						color: #fff;
					}
					&.active {
						background: #2f82e0;
						color: #fff;
					}
					&.disabled {
						background: #2f82e0;
						color: #fff;
					}
				}
				&.disabled {
					background: #2f82e0;
					color: #fff;
					&:hover {
						background: #2f82e0;
						color: #fff;
						&:hover {
							background: #2f82e0;
							color: #fff;
						}
						&:active {
							background: #2f82e0;
							color: #fff;
						}
						&.active {
							background: #2f82e0;
							color: #fff;
						}
						&.disabled {
							background: #2f82e0;
							color: #fff;
						}
					}
					&:active {
						background: #2f82e0;
						color: #fff;
					}
					&.active {
						background: #2f82e0;
						color: #fff;
					}
					&.disabled {
						background: #2f82e0;
						color: #fff;
					}
					&:hover[disabled] {
						background: #2f82e0;
						color: #fff;
					}
				}
				&:active {
					background: #2f82e0;
					color: #fff;
				}
				&.active {
					background: #2f82e0;
					color: #fff;
				}
				&:hover[disabled] {
					background: #2f82e0;
					color: #fff;
				}
				&.disabled[disabled] {
					background: #2f82e0;
					color: #fff;
				}
			}
			&.active[disabled] {
				background: #2f82e0;
				color: #fff;
			}
		}
		&.active {
			&:hover {
				background: #2f82e0;
				color: #fff;
				&:hover {
					background: #2f82e0;
					color: #fff;
				}
				&:active {
					background: #2f82e0;
					color: #fff;
				}
				&.active {
					background: #2f82e0;
					color: #fff;
				}
				&.disabled {
					background: #2f82e0;
					color: #fff;
				}
			}
			&.disabled {
				background: #2f82e0;
				color: #fff;
				&:hover {
					background: #2f82e0;
					color: #fff;
					&:hover {
						background: #2f82e0;
						color: #fff;
					}
					&:active {
						background: #2f82e0;
						color: #fff;
					}
					&.active {
						background: #2f82e0;
						color: #fff;
					}
					&.disabled {
						background: #2f82e0;
						color: #fff;
					}
				}
				&:active {
					background: #2f82e0;
					color: #fff;
				}
				&.active {
					background: #2f82e0;
					color: #fff;
				}
				&.disabled {
					background: #2f82e0;
					color: #fff;
				}
				&:hover[disabled] {
					background: #2f82e0;
					color: #fff;
				}
			}
			&:active {
				background: #2f82e0;
				color: #fff;
			}
			&.active {
				background: #2f82e0;
				color: #fff;
			}
			&:hover[disabled] {
				background: #2f82e0;
				color: #fff;
			}
			&.disabled[disabled] {
				background: #2f82e0;
				color: #fff;
			}
		}
		&.active[disabled] {
			background: #2f82e0;
			color: #fff;
		}
	}
}
.f-horiz-nav-tabs {
	background: #f6f6f6;
	.dropdown-menu {
		> .active > a {
			background: #ddd;
			color: #000;
			&:hover {
				background: #748ddd;
				color: #fff;
			}
			&:focus {
				background: #748ddd;
				color: #fff;
			}
		}
		.active a:after {
			display: inline-block;
			background: #748ddd;
			border-radius: 15px;
			width: 10px;
			height: 10px;
			left: -6px;
		}
	}
	> li {
		margin-bottom: 0;
		&.active {
			margin-bottom: -1px;
			> a {
				border-width: 0 1px;
				border-bottom: 1px solid #fff;
				&:hover {
					border-width: 0 1px;
					border-bottom: 1px solid #fff;
				}
				&:focus {
					border-width: 0 1px;
					border-bottom: 1px solid #fff;
				}
			}
		}
		> a {
			border: none;
			border-radius: 0;
			margin-right: 0;
			padding: 7px 15px;
			font-size: 14px;
			font-weight: bold;
			color: #90939c;
			&:hover {
				background: #eee;
				color: #606269;
			}
			&:focus {
				background: #eee;
				color: #606269;
			}
		}
		&:first-of-type > a {
			border-left: none;
			&:hover {
				border-left: none;
			}
			&:active {
				border-left: none;
			}
			&:focus {
				border-left: none;
			}
		}
	}
}
.icon-stack {
	position: relative;
	display: inline-block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	vertical-align: -35%;
	[class^="icon-"] {
		display: block;
		text-align: center;
		position: absolute;
		width: 100%;
		height: 100%;
		font-size: 1em;
		line-height: inherit;
		*line-height: 2em;
	}
	.icon-stack-base {
		font-size: 2em;
		*line-height: 1em;
	}
	[class*=" icon-"] {
		display: block;
		text-align: center;
		position: absolute;
		width: 100%;
		height: 100%;
		font-size: 1em;
		line-height: inherit;
		*line-height: 2em;
	}
}
.icon-spin {
	display: inline-block;
	-moz-animation: spin 2s infinite linear;
	-o-animation: spin 2s infinite linear;
	-webkit-animation: spin 2s infinite linear;
	animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
	0% {
		-moz-transform: rotate(0deg);
	}
	100% {
		-moz-transform: rotate(359deg);
	}
}
@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
	}
}
@-o-keyframes spin {
	0% {
		-o-transform: rotate(0deg);
	}
	100% {
		-o-transform: rotate(359deg);
	}
}
@-ms-keyframes spin {
	0% {
		-ms-transform: rotate(0deg);
	}
	100% {
		-ms-transform: rotate(359deg);
	}
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}
.has-switch {
	border-radius: 4px;
	border-color: rgba(0, 0, 0, 0.2);
	span {
		&.switch-left {
			border-radius: 3px 0 0 3px;
		}
		&.switch-right {
			border-radius: 0 3px 3px 0;
		}
	}
	label {
		border-color: rgba(0, 0, 0, 0.2);
	}
}
.f-fieldset-group {
	padding: 0 18px;
	margin-bottom: 30px;
}
.f-fieldset-group-title {
	margin-top: 15px;
	margin-bottom: 15px;
	font-weight: bold;
	font-size: 15px;
	color: #666;
}
.todo-list {
	.new-todo {
		margin-bottom: 0;
		width: 100%;
		position: relative;
		overflow: hidden;
		*zoom: 1;
		input[type="text"] {
			border-left: 0;
			border-top: 0;
			padding-left: 12px;
			padding-top: 12px;
			padding-bottom: 12px;
			height: 45px;
			line-height: 45px;
		}
		input {
			margin-bottom: 0;
			padding-right: 40px;
		}
		button {
			position: absolute;
			top: 0;
			right: 0;
			height: 45px;
		}
	}
	.date {
		text-transform: uppercase;
		color: #6983d6;
		font-size: 11px;
		margin-top: 10px;
		margin-left: 10px;
	}
	ul {
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
			li:last-child {
				border-bottom: none;
			}
		}
		> li {
			line-height: 35px;
			padding: 0 7px 0 10px;
			border-bottom: 1px solid #ddd;
			position: relative;
			overflow: hidden;
			*zoom: 1;
			label {
				padding: 5px 0;
				font-weight: normal;
				margin: 0;
				.todo {
					padding-left: 5px;
					display: inline;
					position: relative;
					top: 3px;
				}
				input[type="checkbox"] {
					margin-top: 0;
				}
			}
			.actions {
				margin-top: 2px;
				.remove {
					display: none;
					color: #6983d6;
					&:hover {
						color: #f01611;
					}
				}
				.edit {
					display: none;
					color: #f8a326;
					&:hover {
						color: #e48a07;
					}
				}
				.btn-link {
					padding: 10px 5px;
					&:hover {
						text-decoration: none;
					}
				}
				.important {
					color: #00acec;
					&:hover {
						color: #0087b9;
					}
					i:before {
						content: "\f097";
					}
				}
			}
			&.important {
				border-left: 2px solid #00acec;
				padding-left: 15px;
				background: #f7f7f7;
				.important i:before {
					content: "\f02e";
				}
			}
			&.done {
				opacity: 0.5;
				.todo {
					text-decoration: line-through;
				}
			}
			&:hover {
				cursor: move;
				.remove {
					display: inline;
				}
				.edit {
					display: inline;
				}
			}
		}
	}
}
.touch {
	.todo-list ul > li .actions {
		.remove {
			display: inline;
		}
		.edit {
			display: inline;
		}
	}
	.recent-activity .comments > li .actions {
		display: block;
	}
}
.recent-activity {
	ul {
		margin-bottom: 0;
	}
	.load-more > a {
		border-left: none;
		border-right: none;
		border-bottom: none;
	}
	.users > li {
		border-bottom: 1px solid #ddd;
		padding: 10px;
		overflow: hidden;
		*zoom: 1;
		.avatar {
			margin-right: 10px;
			width: 23px;
			height: 23px;
			.icon-user {
				font-size: 20px;
				position: relative;
				top: 2px;
				color: #d0d0d0;
				width: 23px;
				height: 23px;
			}
		}
		.date {
			padding-top: 2px;
		}
		.action {
			padding-top: 2px;
		}
		&:last-child {
			border-bottom: none;
		}
	}
	.comments > li {
		border-bottom: 1px solid #ddd;
		padding: 10px;
		position: relative;
		overflow: hidden;
		*zoom: 1;
		.avatar {
			position: absolute;
			left: 10px;
			top: 10px;
			margin-right: 10px;
			width: 23px;
			height: 23px;
			.icon-user {
				font-size: 20px;
				position: relative;
				top: 2px;
				color: #d0d0d0;
				width: 23px;
				height: 23px;
			}
		}
		.body {
			margin-left: 33px;
			.actions {
				position: absolute;
				right: 10px;
				top: 2px;
				display: none;
				.btn-link {
					padding-left: 2px;
					padding-right: 2px;
					&:hover {
						text-decoration: none;
					}
				}
				.ok {
					color: #49bf67;
					margin-right: 10px;
					&:hover {
						color: #379e51;
					}
				}
				.remove {
					color: #6983d6;
					&:hover {
						color: #f01611;
					}
				}
			}
		}
		&:last-child {
			border-bottom: none;
		}
		&:hover .actions {
			display: block;
		}
	}
}
.ui-resizable-handle {
	position: static;
	float: right;
	margin: -25px -15px -30px 0;
	width: 15px;
	min-height: 50px;
	height: 100%;
	z-index: 99;
}
.ui-state-default {
	background-image: none !important;
	background-color: #ddd;
}
.ui-slider {
	border: 1px solid #ddd;
	background-color: transparent;
	.ui-slider-range {
		background-color: #3c3c3c;
	}
}
.f-install-modules {
	border: 1px solid #ddd;
	margin-top: -21px;
	margin-bottom: 15px;
	.f-install {
		td {
			background: #fff;
		}
		.f-module-name {
			font-weight: bold;
		}
	}
	tbody tr td {
		vertical-align: middle;
		border-color: #ddd !important;
		font-size: 14px;
		&:first-of-type {
			padding-left: 15px;
		}
	}
	.f-skip td {
		background: #f0f0f0;
	}
	+ .btns-container {
		padding: 0 15px;
	}
}
.f-install-modules-version {
	option {
		background: #fff;
	}
	option[data-action=skip] {
		background: #ddd;
	}
	option[data-action=install] {
		background: #fff;
	}
}
.btn-primary {
	background: #748ddd;
	color: #fff;
	&:hover {
		background: #6680d3;
	}
	&:focus {
		background: #6680d3;
	}
	&:active {
		background: #6680d3;
	}
	&.active {
		background: #6680d3;
	}
}
.btn-danger[disabled] {
	background: #f0dad7;
	&:hover {
		background: #f0dad7;
	}
	&:focus {
		background: #f0dad7;
	}
	&:active {
		background: #f0dad7;
	}
	&.active {
		background: #f0dad7;
	}
}
.lead {
	font-size: 18px;
	font-weight: 500;
	line-height: 1.25;
}
.well {
	border-color: #e6e6e6;
	background: #f5f5f5;
	box-shadow: none;
	font-size: 18px;
}
.f-base-font {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif !important;
}
@media screen and(-webkit-min-device-pixel-ratio:0) {
	.f-admin-page-header .navbar .user-menu .dropdown-toggle span {
		position: relative;
		top: -2px;
	}
}
@media(max-width:767px) {
	.page-header {
		.f-page-title {
			float: none !important;
		}
		> {
			.pull-right {
				float: none !important;
			}
			.pull-left {
				float: none !important;
			}
		}
	}
	.f-admin-nav-bg {
		width: 0;
	}
	.f-admin-nav {
		width: 0;
		overflow: hidden;
	}
	.main-nav-closed {
		.f-admin-nav-bg {
			width: 0;
		}
		.f-admin-nav {
			width: 0;
			overflow: hidden;
		}
		.f-admin-main-view {
			margin-left: 0;
		}
	}
	.f-admin-main-view {
		margin-left: 0;
	}
	.f-grid-wrapper {
		.f-grid-top {
			text-align: center;
			.f-grid-filter {
				float: none;
				text-align: center;
				label {
					float: none;
				}
			}
			.f-grid-paginate {
				text-align: center;
				float: none;
				margin-left: 0;
				margin-right: 0;
			}
			.f-grid-length {
				text-align: center;
				display: inline-block;
				float: none;
			}
		}
		.f-grid-bottom {
			text-align: center;
			.f-grid-filter {
				float: none;
				text-align: center;
				label {
					float: none;
				}
			}
			.f-grid-paginate {
				text-align: center;
				float: none;
				margin-left: 0;
				margin-right: 0;
			}
			.f-grid-length {
				text-align: center;
				display: inline-block;
				float: none;
			}
		}
	}
	.main-nav-opened .f-admin-nav .navigation .search {
		display: block;
	}
	.form-actions.form-actions-padding-xs {
		padding: 20px;
	}
}
@media(max-width:768px) {
	h1 {
		font-size: 24.5px;
	}
	h2 {
		font-size: 21px;
	}
	h3 {
		font-size: 17.5px;
	}
	h4 {
		font-size: 14px;
	}
	h5 {
		font-size: 14px;
	}
	h6 {
		font-size: 7px;
	}
}
@media(min-width:768px) {
	.img-responsive-sm {
		display: block;
		height: auto;
		max-width: 100%;
	}
	body {
		&.login .login-container {
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -280px 0 0 -225px;
			width: 450px;
		}
		&.error .error-container-header {
			padding: 10px 0 40px;
		}
	}
	.f-admin-footer {
		.buttons {
			text-align: right;
		}
		.text {
			text-align: left;
			padding-top: 7px;
			margin-bottom: 0;
		}
	}
	.page-header > {
		.f-page-title {
			float: left;
		}
		.btn-group {
			float: right;
		}
	}
	.f-admin-page-header .navbar {
		.navbar-brand {
			.logo-xs {
				display: none;
			}
			.logo {
				display: inline-block;
			}
		}
		.user-menu .dropdown-toggle .user-name {
			display: inline;
			font-size: 13px;
			font-weight: bold;
		}
	}
}
@media screen and(max-width:768px) {
	.invoice .invoice-header .invoice-number {
		float: none;
		text-align: center;
	}
}
@media(min-width:768px) and(max-width:991px) {
	.form-actions.form-actions-padding-sm {
		padding: 20px;
	}
}
@media(max-width:991px) {
	.f-admin-nav-bg {
		width: 35px;
	}
	.f-admin-nav {
		width: 35px;
		.navigation > .nav > li {
			span {
				display: none !important;
			}
			.nav.in {
				display: none !important;
			}
			i.angle-down {
				display: none !important;
			}
		}
	}
	#wrapper {
		overflow: hidden;
	}
	.f-admin-main-view {
		margin-left: 35px;
	}
	.main-nav-opened .f-admin-nav .navigation > .nav > li ul.in {
		display: block !important;
	}
}
@media(min-width:992px) {
	.main-nav-closed .f-admin-nav {
		width: 35px;
		.navigation > .nav > li {
			&:hover > {
				.nav {
					display: block !important;
				}
				ul {
					display: block !important;
					position: absolute;
					z-index: 1000;
					height: auto;
					overflow: visible;
					top: 35px;
					left: 35px;
					width: 170px;
					background-color: #464d54;
					border: none;
					&.in {
						border-bottom: 1px solid  white;
					}
					li {
						position: relative;
						&:first-of-type {
							margin-top: 5px;
						}
						&:last-of-type {
							margin-bottom: 10px;
						}
						a {
							padding: 5px 10px;
							span {
								display: inline;
							}
						}
						&:hover ul {
							display: block !important;
						}
					}
					ul {
						display: none;
						position: absolute;
						z-index: 1000;
						height: auto;
						overflow: visible;
						top: 0;
						left: 170px;
						width: 170px;
						background-color: #464d54;
						border: none;
					}
				}
				a > {
					span {
						display: block;
						position: absolute;
						top: 0;
						left: 35px;
						width: 170px;
						padding: 0 10px;
						height: 35px;
						line-height: 35px;
						background-color: #383f45;
						z-index: 1000;
						border: none;
					}
					.angle-down {
						display: none;
					}
				}
			}
			&.active:hover > a > span {
				background: #748ddd;
			}
		}
	}
	.f-admin-nav .navigation > .nav > li .nav.in {
		display: block;
		padding-bottom: 5px;
		background: #464d54;
	}
}
@media(min-width:992px) and(max-width:1199px) {
	.form-actions.form-actions-padding-md {
		padding: 20px;
	}
}
@media(min-width:1200px) {
	.form-actions.form-actions-padding-lg {
		padding: 20px;
	}
}
@media print {
	.f-admin-page-header {
		display: none;
	}
	.f-admin-nav-bg {
		display: none;
	}
	.f-admin-nav {
		display: none;
	}
	.accordion {
		.collapse {
			display: block !important;
			height: auto !important;
		}
		.panel-collapse {
			.collapse {
				display: block !important;
				height: auto !important;
			}
			&.collapse {
				display: block !important;
				height: auto !important;
			}
		}
		.accordion-group .accordion-body.collapse {
			display: block !important;
			height: auto !important;
		}
	}
	.tab-content > .tab-pane {
		display: block !important;
		opacity: 1 !important;
	}
	.fuelux .step-content .step-pane {
		display: block !important;
		opacity: 1 !important;
	}
	.pricing-tables .pricing-table.not-important {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity: 1;
	}
	#orders #list {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity: 1;
	}
}
.date-range-plugin {
	.dropdown-menu {
		.dropdown-toggle {
			box-shadow: none;
			border: 1px solid #ddd;
			border-right: 0 !important;
			border-bottom-color: #ccc;
			padding: 7px 9px;
			background: linear-gradient(to bottom, #f8f8f8 0,#f2f2f2 100%);
		}
		.btn.update {
			padding: 8px 10px;
		}
	}
	.form-control {
		border-radius: 0;
	}
	.filter-box {
		right: 0;
		left: auto;
	}
	.choice-close {
		color: #bbb;
		font-size: 13px;
		position: absolute;
		z-index: 10;
		left: 8px;
		top: 8px;
		cursor: pointer;
	}
	.dropdown-toggle {
		padding-left: 30px;
	}
	.filter {
		background: #eaedf6;
	}
}
.list-variant-image {
	label {
		width: 140px !important;
		height: auto !important;
		margin-left: 35px;
		position: relative;
	}
	div {
		padding-left: 5px;
		min-height: 35px;
	}
	li {
		width: 214px !important;
	}
	img {
		position: absolute;
	}
}
.pagination-griddle {
	margin-top: 0;
	margin-bottom: 0;
}

.griddle {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.buttondropdown-backdrop {
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 990;
}
.grid-settings {
	.dd {
		display: inline;
		margin-right: 15px;
	}
	.grid-mass-edit {
		margin-right: 5px;
	}
}
.f-admin-header .navbar {
	margin: 0;
	padding: 4px 10px 5px;
	background-color: #fff !important;
	border: none;
	min-height: 45px;
	height: 45px;
	border-radius: 0;
	box-shadow: 0 1px 0 rgba(0,0,0,0.15);
	z-index: 99;
	.navbar-brand {
		width: 110px;
		height: 25px;
		margin-top: 6px;
		padding: 0;
		background: url(../images/sellvana-logo.png) no-repeat 50% 50%;
		background-size: contain;
		text-indent: -999em;
		.logo-xs {
			display: inline-block;
		}
		[class^='logo'] {
			max-height: 25px;
		}
		img {
			margin-top: -2px;
		}
	}
	.toggle-nav {
		margin-right: 12px;
		padding: 4px;
		color: #707a85;
		font-size: 22px;
		text-shadow: none;
		vertical-align: middle;
		background: none !important;
		box-shadow: none;
		&.active {
			color: #3a4148;
		}
		&:hover {
			color: #464d54;
		}
	}
	.navbar-form {
		margin: 3px 10px 0 0;
		padding: 0;
		position: relative;
		border: none;
		button {
			position: absolute;
			color: #656978;
			right: 10px;
			top: 10px;
			text-decoration: none;
			padding: 0;
			margin: 0;
			z-index: 1031;
			text-shadow: none;
			&:hover {
				color: #656978;
			}
		}
		input {
      border:none;
      padding-left:7px;
      padding-right:25px;
      color:#777;
      height:30px;
      filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
      opacity:0.4;
      -webkit-transition:all 200ms ease;
      -moz-transition:all 200ms ease;
      -o-transition:all 200ms ease;
      transition:all 200ms ease;
      background:#f0f0f0;
			&:-moz-placeholder,
			&:-ms-input-placeholder {
				color: #888;
			}
			&:hover {
				filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
				opacity: 1;
				&:-moz-placeholder,
				&:-ms-input-placeholder {
					color: #444;
				}
			}
			&:focus {
				filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
				opacity: 1;
				border-color: #c2100c;
				box-shadow: none;
				&:-moz-placeholder,
				&:-ms-input-placeholder {
					color: #444;
				}
			}
			&:hover::-webkit-input-placeholder,
			&:focus::-webkit-input-placeholder {
				color: #444;
			}
		}
		input::-webkit-input-placeholder {
			color: #888;
		}
		&:hover input {
			filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
			opacity: 1;
		}
	}
	&.navbar-fixed-top {
		position: fixed;
	}
	.dropdown-menu {
		right: 0;
		left: auto;
	}
	.user-menu .dropdown-toggle {
		padding: 0;
		img {
			border-radius: 3px;
			margin-right: 5px;
			vertical-align: top;
			position: relative;
			top: 1px;
			width: 28px;
			height: 28px;
		}
		.user-name {
			display: none;
		}
	}
	.widget .dropdown-menu {
		padding: 0;
		p,
		.divider {
			margin: 0;
		}
		> li {
			.widget-body {
				padding: 6px 15px;
				overflow: hidden;
				*zoom: 1;
				.icon {
					width: 25px;
				}
				.text small {
					white-space: nowrap;
				}
			}
			> a {
				padding: 0;
				white-space: normal;
				&:hover {
					[class*="icon"] {
						color: white !important;
					}
					small {
						color: white !important;
						filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
						opacity: 0.5;
					}
				}
			}
			&.widget-footer a {
				padding: 10px 0;
				background: #f4f4f4;
				text-align: center;
				&:hover {
					background: #6983d6;
				}
			}
		}
	}
	> .nav {
		float: right;
		margin: 0;
		margin-top: 3px;
		> li {
			float: left;
			margin: 0 4px;
			[class^='icon-'] {
  			font-size:18px;
			}
			.label {
				padding: 0;
				background: white;
				color: #6983d6;
			}
			> a {
				background: none !important;
				padding: 0 7px;
				color: #656978;
				line-height: 30px;
				text-shadow: none;
			}
		}
	}
}
#categories-form-container .nav-tabs > li {
	&.active {
		border-top: none;
		> a {
			border-top: none;
			&:hover {
				border-top: none;
			}
			&:focus {
				border-top: none;
			}
		}
	}
	> a {
		margin-right: 0;
		border-radius: 0;
		border-top: none;
	}
	&:first-child > a {
		border-left: none;
	}
}
.pricing-tables .pricing-table {
	border: 1px solid  white;
	margin-bottom: 20px;
	position: relative;
	-webkit-transition: opacity 100ms ease;
	-moz-transition: opacity 100ms ease;
	-o-transition: opacity 100ms ease;
	transition: opacity 100ms ease;
	&.not-important {
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
		opacity: 0.5;
		&:hover {
			filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
			opacity: 1;
		}
	}
	.header {
		text-align: center;
		padding: 20px 0 50px;
		font-size: 20px;
		font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
		background-color: #ddd;
	}
	.price {
		width: 30%;
		height: 60px;
		line-height: 60px;
		position: absolute;
		top: 60px;
		z-index: 900;
		left: 50%;
		display: block;
		font-size: 25px;
		text-align: center;
		color: white;
		margin-left: -15%;
		span {
			vertical-align: middle;
		}
	}
	.features {
		padding-top: 50px;
		text-align: center;
		margin-bottom: 0;
		background-color: white;
		> li {
			padding: 5px 0;
			border-bottom: 1px solid #eaeaea;
		}
	}
	.footer {
		text-align: center;
		background-color: #ddd;
		padding: 20px 0;
	}
}
.f-admin-main > {
	.f-horiz-nav-tabs {
		margin-top: -20px;
	}
	form > .list-group {
		margin-top: -21px;
		> .list-group-item:first-child {
			border-radius: 0;
		}
	}
	.accordion:first-of-type {
		margin-top: -21px;
		.panel {
			border-radius: 0;
			+ .panel {
				margin-top: -1px;
			}
		}
	}
}
[class*=" icon-"] {
	display: inline;
	width: auto;
	height: auto;
	line-height: normal;
	vertical-align: baseline;
	background-image: none;
	background-position: 0 0;
	background-repeat: repeat;
	margin-top: 0;
}
.nav-pills > .active > a > {
	[class^="icon-"] {
		background-image: none;
	}
	[class*=" icon-"] {
		background-image: none;
	}
}
.nav-list > .active > a > {
	[class^="icon-"] {
		background-image: none;
	}
	[class*=" icon-"] {
		background-image: none;
	}
}
.navbar-inverse .nav > .active > a > {
	[class^="icon-"] {
		background-image: none;
	}
	[class*=" icon-"] {
		background-image: none;
	}
}
.dropdown-submenu:hover > a > {
	[class^="icon-"] {
		background-image: none;
	}
	[class*=" icon-"] {
		background-image: none;
	}
}
.header-notifications .dropdown-menu {
	min-width: 400px;
}
.tabs-below > .nav-tabs {
	border-bottom: 0;
	border-top: 1px solid #ddd;
	> {
		li {
			margin-top: -1px;
			margin-bottom: 0;
			> a {
				border-radius: 0 0 4px 4px;
				&:hover {
					border-top-color: #ddd;
					border-bottom-color: transparent;
				}
				&:focus {
					border-top-color: #ddd;
					border-bottom-color: transparent;
				}
			}
		}
		.active > a {
			border-color: transparent #ddd #ddd #ddd;
			&:hover {
				border-color: transparent #ddd #ddd #ddd;
			}
			&:focus {
				border-color: transparent #ddd #ddd #ddd;
			}
		}
	}
}
.tabs-right > .nav-tabs {
	border-bottom: 0;
	float: right;
	margin-left: 19px;
	border-left: 1px solid #ddd;
	> li {
		float: none;
		> a {
			min-width: 74px;
			margin-right: 0;
			margin-left: -1px;
			border-radius: 0 4px 4px 0;
			&:hover {
				border-color: #eee #eee #eee #ddd;
			}
			&:focus {
				border-color: #eee #eee #eee #ddd;
			}
		}
	}
	.active > a {
		border-color: #ddd #ddd #ddd transparent;
		*border-left-color: #fff;
		&:hover {
			border-color: #ddd #ddd #ddd transparent;
			*border-left-color: #fff;
		}
		&:focus {
			border-color: #ddd #ddd #ddd transparent;
			*border-left-color: #fff;
		}
	}
}
.tabs-left > .nav-tabs {
	border-bottom: 0;
	background: #f8f8f8;
	border-right: 1px solid #ddd;
	> li {
		float: none;
		> a {
			min-width: 74px;
			margin-right: 0;
			margin-right: -1px;
			border-radius: 4px 0 0 4px;
			&:hover {
				border-color: #eee #ddd #eee #eee;
			}
			&:focus {
				border-color: #eee #ddd #eee #eee;
			}
		}
	}
	.active > a {
		border-color: #ddd transparent #ddd #ddd;
		*border-right-color: #fff;
		&:hover {
			border-color: #ddd transparent #ddd #ddd;
			*border-right-color: #fff;
		}
		&:focus {
			border-color: #ddd transparent #ddd #ddd;
			*border-right-color: #fff;
		}
	}
}
.tab-content > {
	.tab-pane {
		display: none;
		padding: 10px 15px 15px;
		> h2 {
			margin-top: 5px;
			margin-bottom: 12px;
			font-size: 20px;
		}
	}
	.active {
		display: block;
	}
}
.pill-content > {
	.pill-pane {
		display: none;
		padding: 10px 15px 15px;
	}
	.active {
		display: block;
	}
}
.list-hover li:hover {
	background-color: #f9f9f9;
}
.list-striped li:nth-child(odd) {
	background-color: #f9f9f9;
}
.btn-group.open .dropdown-toggle {
	box-shadow: none;
	&.btn-link .btn-group.open .dropdown-toggle.btn-link {
		box-shadow: none;
	}
}
.input-group-addon .dropdown-toggle {
	border-right: none;
}
.pagination-sm > li > {
	a {
		border: none;
		padding: 6px 8px;
	}
	span {
		border: none;
		padding: 6px 8px;
	}
}
.alert-dismissable .close {
	right: 0;
}
.modal-backdrop.in {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	opacity: 0.8;
}
.f-grid-filter-val abbr {
	display: inline;
}
.dataTable thead tr th:first-of-type select {
	width: 70px;
}
.has-multilang + div {
	.btn.multilang {
		margin-top: -10px !important;
		margin-bottom: 13px;
		.icon-globe {
			color: #999;
			&:before {
				font-size: 14px;
			}
		}
	}
	.btn-info.multilang .icon-globe {
		color: #fff;
	}
}
.box-content.box-no-padding .table-striped {
	th {
		&:first-child {
			border-left: none;
		}
		&:last-child {
			border-right: none;
		}
	}
	td {
		&:first-child {
			border-left: none;
		}
		&:last-child {
			border-right: none;
		}
	}
}
ul#adminUserList {
  width:150px;
  li {
    padding:5px 13px 5px 50px;
	  &.divider { padding:0; }
	  &.dropdown-header { padding:3px 13px; }
    &:before,
    &:after {
      clear:both;
      display: table;
      content: "";
      line-height: 0;
    }
	  &:not(.dropdown-header):not(#adminStatus):hover {
  	  background:#f4f4f4;
	  }
	  &:not(.dropdown-header):not(.divider):not(#adminStatus) {
	    cursor: pointer;
	  }
	  .user-avatar { 
	    float:left;
	    position:relative;
	    width:30px;
	    margin-left:-38px; 
	    > img {
        border-radius:23px;
	    }
	    &:before {
	      position:absolute;
	      right:-2px;
	      bottom:-2px;
	      border:2px solid #fff;
	      float:left;
	      display:block;
  	    content:" ";
  	    border-radius:15px;
  	    width:13px;
  	    height:13px;
	    }
	    &.online:before {
  	    background:#5dc00d;
	    }
	    &.offline:before {
  	    background:#bbbbbb;
	    }
	    &.away:before {
  	    background:#f6d729;
	    }
	    &.na:before,
	    &.do-not-disturb:before {
  	    background:#e60000;
	    } 
    }
    .user-chat-status {
      select { 
        margin:3px 0; 
        width:100%;
      }
  	  .user-name { 
  	    overflow:hidden;
  	    white-space:nowrap;
  	    line-height:30px;
  	  }
  	 }
  }
}
#vakata-dragged.jstree-default {
	.jstree-ok:before {
		color: #38a31f;
		content: "\f00c";
	}
	.jstree-invalid:before {
		color: #d40000;
		content: "\f00d";
	}
}
.row > .js-sortable-container {
	margin: 0 15px;
}
.dd-collapsed .dd-list {
	display: none;
}
div.jGrowl div {
	&.jGrowl-notification {
		background: #222;
		text-shadow: none;
		color: white;
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity: 1;
		border-radius: 0 !important;
	}
	&.jGrowl-closer {
		background: #222;
		text-shadow: none;
		color: white;
		filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		opacity: 1;
		border-radius: 0 !important;
	}
}
.jGrowl-notification.ui-state-highlight {
	background: #222;
	text-shadow: none;
	color: white;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
	border-radius: 0 !important;
}
.select2-dropdown-open.select2-drop-above {
	.select2-choice {
		border: none;
		&:focus {
			border: none;
		}
	}
	.select2-choices {
		border: none;
		&:focus {
			border: none;
		}
	}
}
.select2-drop.select2-drop-above.select2-drop-active {
	border: none;
}
.select2-search input {
	min-height: 0;
	background: #fff;
}
.tabbable.tabs-left {
	display: table;
	width: 100%;
	background: #fff;
	> .nav-tabs {
		display: table-cell;
		vertical-align: top;
		font-size: 14px;
		&:before {
			content: "";
		}
		> li {
			width: 142px;
			margin-left: -1px;
			> {
				a {
					padding: 6px 15px;
					border-radius: 0;
					-webkit-border-radius: 0;
					margin-right: -1px;
					> [class^='icon-'] {
						margin-left: 5px;
						color: #888;
					}
				}
				img {
					display: block;
					margin: 15px auto;
				}
			}
			&.active > a {
				border-left: none;
			}
			&:first-child > a {
				border-top: none;
			}
		}
	}
	.tab-content > .tab-pane {
		padding: 0;
		.f-section {
			padding: 20px;
			> h4 {
  			font-size:16px;
  			font-weight:bold;
  			+ hr { margin-top:10px; }
			}
		}
		> .well {
			border-radius: 0;
			border-width: 1px 0;
			&:first-of-type {
				border-top: none;
			}
		}
	}
	.tab-content {
		display: table-cell;
		width: 100%;
		vertical-align: top;
		+ .tab-content .tab-pane {
			padding: 5px 0;
		}
	}
}
.icon-rotate-90:before {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.icon-rotate-180:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.icon-rotate-270:before {
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.icon-flip-horizontal:before {
	-webkit-transform: scale(-1, 1);
	-moz-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	transform: scale(-1, 1);
}
.icon-flip-vertical:before {
	-webkit-transform: scale(1, -1);
	-moz-transform: scale(1, -1);
	-ms-transform: scale(1, -1);
	-o-transform: scale(1, -1);
	transform: scale(1, -1);
}
.switch-off label {
	border-radius: 3px 0 0 3px;
	border-left: 0;
}
.switch-on label {
	border-radius: 0 3px 3px 0;
	border-right: 0;
}
.ui-widget-content .ui-state-default {
	background-image: none !important;
	background-color: #ddd;
}
.ui-widget-header .ui-state-default {
	background-image: none !important;
	background-color: #ddd;
}
.table-striped > tbody > tr:hover {
	td {
		background: #edf0fa;
	}
	th {
		background: #edf0fa;
	}
}
.btn-filter-date.active-button {
	background-color: #e4e4e4;
}
.grid-pager .f-grid-pagination {
	margin-left: 5px;
}
.fcom-htmlgrid .scrollable-area {
	margin-top: -1px;
}

/* EXT: JS Tree */
body {
  .jstree {
    .jstree-click { border-radius:2px; }
    > ul {
      ul {
        margin-left:25px;
        border-left:1px dotted #aaa;
      }
      li {
        margin-left:0;
        background:none;
        > ins {
          display:block;
          float:left;
          border-bottom:1px dotted #aaa;
          background:none;
          width:10px;
          height:10px;
          cursor:pointer;
          &:before {
            display:block;
            content:" ";
            width: 0;
            height: 0;
            float:left;
            margin-top:5px;
            margin-left:-4px;
          }
        }
        &.jstree-open > ins {
          &:before {
            border-style: solid;
            border-width: 0 0 7px 7px;
            border-color: transparent transparent #2f2f2f transparent;
          }
        }
        &.jstree-closed > ins {
          &:before {
            -ms-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
            margin-top:6px;
            margin-left:-6px;
            border-style: solid;
            border-width: 0 0 7px 7px;
            border-color: transparent transparent #bbb transparent;
          }
        }
      }
    }
  }
}

/* PAGE: Dashboard */
.f-page-dashboard {
	padding: 0 20px;
	.box {
		margin: 0;
		border: none;
		.box-header {
			margin-bottom: 3px;
			.title {
				font-size: 17px;
			}
		}
		.box-content {
			border: 1px solid #ddd;
		}
	}
	.ui-sortable-helper {
		background: #fafafa;
		box-shadow: none;
		-webkit-box-shadow: none;
	}
	.box-collapsed .icon-chevron-down:before {
		content: "\f077" !important;
	}
	.ui-sortable > [class*='col-'] {
		margin-bottom: 1.3em;
	}
}
.dashboard-filter-range {
	width: 300px;
}
#stats-chart1 {
	height: 200px;
}
#stats-chart2 {
	height: 200px;
}
#stats-chart3 {
	height: 200px;
}
#stats-chart7 {
	height: 200px;
}
#stats-chart8 {
	height: 200px;
}


/* PAGE: Login */
body {
	position: relative;
	min-height: 100%;
	&.login {
		width: 100%;
		height: 100%;
		position: relative;
		background: #f4f4f4;
		.login-container {
			> {
				.login-logo {
					margin-top: 2em;
					height: 25px;
					margin-bottom: .7em;
					background: url(../images/sellvana-logo.png) no-repeat 50% 50%;
					background-size: contain;
					text-indent: -999em;
				}
				.container {
					background-color: white;
					position: relative;
					padding: 40px 40px 30px;
					border-radius: 3px;
					-webkit-border-radius: 3px;
					-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.0);
					-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
					box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
				}
			}
			input.form-control {
				height: 40px;
				padding-top: 8px;
				padding-bottom: 8px;
				font-size: 15px;
			}
		}
	}
	#vakata-dragged.jstree-default {
		.jstree-ok {
			display: inline-block;
			background: none !important;
			vertical-align: middle;
			&:before {
				font-family: FontAwesome;
				font-size: 16px;
			}
		}
		.jstree-invalid {
			display: inline-block;
			background: none !important;
			vertical-align: middle;
			&:before {
				font-family: FontAwesome;
				font-size: 16px;
			}
		}
	}
}

$stepDefault: #9F9F9F;
$stepActive: #FA9E49;
$stepHover: #2354ac;
$stepSize: 16px;
$stepSizeLarge: 27px;

@mixin stepSize($size) {
	font-size: $size;
	width: $size;
	height: $size;
	line-height: $size;
}

@mixin smallScreen() {
	@media (max-width: 736px)  {
		@content;
	}
}

.rating-widget {
	display: inline-block;
	cursor: pointer;
}

.rating-widget-disabled {
	cursor: default;
}

.rating-widget-step {
	position: relative;
	display: inline-block;
	margin-right: 2px;

	@include stepSize($stepSize);

	@include smallScreen() {
		@include stepSize($stepSizeLarge);

		margin-left: 10px;

		&:first-child {
			margin-left: 0;
		}
	}

	.rating-widget-large & {
		@include stepSize($stepSizeLarge);

		margin-left: 10px;

		&:first-child {
			margin-left: 0;
		}
	}
}

.rating-widget-step-css {
	&:before,
	&:after {
		position: absolute;
		left: 0;
		top: 0;
		overflow: hidden;
		content: '\2605';
	}

	&:before {
		color: $stepActive;
		z-index: 10;
		width: 0;
	}

	&:after {
		color: $stepDefault;
		z-index: 5;
	}
}

.rating-widget-step-hover {
	&:before {
		color: $stepHover;
	}
}

.rating-widget-step-whole {
	&:before {
		width: 100%;
	}
}

.rating-widget-step-half {
	&:before {
		width: 50%;
	}
}
