<!--{ label: CMS Block }-->
<!--{ pos: 10 }-->

{% set m = THIS.get('model') %}
{% set validator = THIS.get('validator', m) %}
{% import THIS.view('core/form-elements').twigName() as forms %}
{% set fieldData = { validator: validator } %}
<fieldset class="form-horizontal">
    <div class="f-section">
        {{ forms.input(fieldData, {field:'handle', label:'Handle'|_, required: 1}) }}
        {{ forms.input(fieldData, {field:'description', label:'Description'|_}) }}
        {{ forms.select(fieldData, {field:'renderer', label:'Content Format'|_, options: LAYOUT.getAllRenderers(true)}) }}
        {{ forms.wysiwyg(fieldData, {field:'content', label:'Content'|_,  input_class: "ckeditor", input_div_class: "col-md-10"}) }}
    </div>
</fieldset>

<script>
require(['jquery', 'ckeditor', 'fcom.admin'], function($) {
    var renderers = {{ UTIL.toJson(LAYOUT.getAllRenderers()) | raw }};
    function updateEditor() {
        switch (renderers[$('#model-renderer').val()].editor) {
            case 'text':
                if (typeof adminForm != 'undefined')
                    adminForm.wysiwygDestroy('model-content');
                break;
            case 'html':
                if (typeof adminForm != 'undefined')
                    adminForm.wysiwygCreate('model-content');
                break;
        }
    }
    $('#model-renderer').change(updateEditor);
    updateEditor();
});
</script>
