{% set categories = THIS.get('categories') %}
{% set products = THIS.get('products') %}
{% set searches = THIS.get('searches') %}
{% set nextPage = THIS.get('next_page') %}

<!--{ title: {{ 'Sitemap'|_ }} }-->

<h1>{{ 'LIST OF CATEGORIES AND PRODUCTS'|_ }}</h1>

<ul>
    {% for c in categories %}
        <li><a href="{{ c.url() }}" title="{{ c.get('node_name') }}">{{ c.get('node_name') }}</a></li>
    {% endfor %}
    {% for p in products %}
        <li><a href="{{ p.url() }}">{{ p.get('product_name') }}</a></li>
    {% endfor %}
    {% for s in searches %}
        <li><a href="{{ s.get('target_url') }}">{{ s.get('title') }}</a></li>
    {% endfor %}
</ul>

{% if nextPage %}
    <a href="{{ APP.href('sitemap?page=') ~ nextPage }}">{{ 'Next page'|_ }}</a>
{% endif %}
