{% set order = THIS.get('model') %}
{% set rates = THIS.get('rates') %}

{% set shippableItems = order.getShippableItems() %}
{% set allMethods = APP.instance('Sellvana_Sales_Main').getShippingMethods() %}
{% set allServices = APP.instance('Sellvana_Sales_Main').getAllSelectedShippingServices() %}
{% set allShipments = order.getAllShipments() %}

<div class="f-section" id="order-container">

    {{ THIS.view('core/messages') | raw }}

    {% if shippableItems %}
        <div id="shipment-create-container">
            <h2>{{ 'Create a shipment'|_ }}</h2>
            <table class="table table-bordered table-striped dataTable">
                <thead>
                <tr>
                    <th>{{ 'Product SKU'|_ }}</th>
                    <th>{{ 'Inventory SKU'|_ }}</th>
                    <th>{{ 'Product Name'|_ }}</th>
                    <th>{{ 'Qty Ordered'|_ }}</th>
                    <th>{{ 'Qty To Ship'|_ }}</th>
                </tr>
                </thead>
                <tbody>
                {% for i in shippableItems %}
                    <tr>
                        <td>{{ i.get('product_sku') }}</td>
                        <td>{{ i.get('inventory_sku') }}</td>
                        <td>{{ i.get('product_name') }}</td>
                        <td>{{ i.get('qty_ordered') }}</td>
                        <td>
                            <select name="qtys[{{ i.get('id') }}]" class="item-qty form-control input-sm" data-weight="{{ i.get('shipping_weight') }}">
                                <option value=""></option>
                                {% set qtyCanShip = i.getQtyCanShip() %}
                                {% for q in range(1, qtyCanShip) %}
                                    <option value="{{ q }}" {{ q == qtyCanShip ? 'selected' }}>{{ q }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <table class="table table-bordered table-striped dataTable">
                <thead>
                <tr>
                    <th>{{ 'Method'|_ }}</th>
                    <th>{{ 'Service'|_ }}</th>
                    <th>{{ 'Ship Weight'|_ }}</th>
                    <th>{{ 'Ship Size'|_ }}</th>
                    <th>{{ 'Carrier Price'|_ }}</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td>
                            <select name="shipment[carrier_code]" class="form-control input-sm" id="shipment-carrier_code">
                                {% for m in allMethods %}
                                    <option value="{{ m.getCode() }}" {{ m.getCode() == order.get('shipping_method') ? 'selected' }}>{{ m.getDescription() }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select name="shipment[service_code]" class="form-control input-sm" id="shipment-service_code">
                                {% for s in allServices[order.get('shipping_method')].services %}
                                    <option value="{{ s.value }}" {{ s.value == order.get('shipping_service') ? 'selected' }}>{{ s.label }}{% if rates[s.value] %} ({{ rates[s.value].price }}){% endif %}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" name="shipment[shipping_weight]" id="shipment-weight">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" name="shipment[shipping_size]">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" name="shipment[carrier_price]">
                        </td>
                        <td>
                            <button id="btnShipmentGetRates" data-container="#shipment-get-rates-container" class="btn btn-xs" type="button">{{ 'Get Rates'|_ }}</button>
                            <button id="btnShipmentCreate" data-container="#shipment-create-container" class="btn btn-xs btn-primary" type="button">{{ 'Create'|_ }}</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    {% endif %}

    {% if shippableItems and allShipments %}
        <hr>
    {% endif %}

    {% if not shippableItems %}
        {{ 'There are no items available for a new shipment' | _ }}
    {% endif %}

    {% if allShipments %}
        <h2>{{ 'Existing Shipments' }}</h2>
        <div id="shipment-update-container">
        <table class="table table-bordered table-striped dataTable">
            <thead>
                <tr>
                    <th>{{ 'Method/Service'|_ }}</th>
                    <th>{{ 'Status'|_ }}</th>
                    <th>{{ 'Timeline'|_ }}</th>
                    <th>{{ 'Packages'|_ }}</th>
                    <th>{{ 'Delete'|_ }}</th>
                </tr>
            </thead>
            <tbody>
                {% for s in allShipments %}
                    {% set allOverallStates = s.state().overall().getNextValueLabels() %}
                    {% set allCustomStates = s.state().custom().getNextValueLabels() %}
                    <tr>
                        <td>
                            <p><strong>{{ s.get('carrier_desc') }}</strong></p>
                            <p><strong>{{ s.get('service_desc') }}</strong></p>
                        </td>
                        <td>
                            <p>{{ 'Overall:'|_ }} <strong>{{ s.state().overall().getValueLabel() }}</strong></p>
                            {% if allCustomStates %}
                                <p>{{ 'Custom:'|_ }}&nbsp;<select name="shipments[{{ s.id() }}][state_custom]" class="form-control">
                                    {{ UTIL.optionsHtml(allCustomStates, s.state().custom().getValue()) | raw }}
                                </select></p>
                            {% endif %}
                            {% for k, v in allOverallStates %}
                                {% if k != s.get('state_overall') %}
                                    <input type="button" name="shipments[{{ s.id() }}][state_overall][{{ k }}]" value="{{ v }}" class="btn btn-default btn-xs js-shipment-action">
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            <p>{{ 'Created:'|_ }} <strong>{{ LOCALE.datetimeDbToLocal(s.get('create_at'), constant('BLocale::FORMAT_SHORT_DATE')) }}</strong></p>
                        </td>
                        <td>
                            {% set allowTracking = false %}
                            {% for p in s.packages() %}
                                {% for i in p.items() %}
                                    <strong>{{ i.get('inventory_sku') ~ ' x' ~ i.get('qty') }}</strong>: {{ i.get('product_name') }}
                                {% endfor %}
                                <p>{{ 'Tracking:'|_ }} <input type="text" name="packages[{{ p.id() }}][tracking_number]" class="form-control input-sm" value="{{ p.get('tracking_number') }}"></p>
                                {% if p.label() %}
                                    <a href="{{ APP.href('shipments/printLabel?id=' ~ p.id()) }}" target="_blank">{{ 'Print shipment label'|_ }}</a>
                                    <br>
                                {% endif %}
                                {% if p.canTrackingUpdate() and p.get('tracking_number') and p.getTrackingUrl() %}
                                    {% set allowTracking = true %}
                                    <a href="{{ p.getTrackingUrl() }}" class="js-shipment-show-tracking" target="_blank">{{ 'Show tracking status'|_ }}</a>
                                    <br>
                                {% endif %}
                                <hr>
                            {% endfor %}
                            {% if allowTracking %}
                                <a href="{{ APP.href('shipments/updateTracking?id=' ~ order.id()) }}" class="js-shipment-update-tracking">{{ 'Receive tracking updates'|_ }}</a>
                                <br>
                            {% endif %}
                        </td>
                        <td>
                            <input type="checkbox" class="btn btn-xs btn-danger" name="delete[{{ s.id }}]" value="1">
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><button id="btnShipmentUpdate" data-action="update" data-container="#shipment-update-container" name="update" class="btn btn-xs btn-primary" type="button" value="1">{{ 'Update'|_ }}</button></td>
                <td></td>
            </tr>
            </tfoot>
        </table>
        </div>
    {% endif %}
</div>

<script>
    require(['jquery', 'underscore'], function($, _) {
        var shipmentCreateUrl = "{{ APP.href('shipments/create?id=' ~ order.id()) }}";
        var shipmentUpdateUrl = "{{ APP.href('shipments/update?id=' ~ order.id()) }}";
        var ratesUrl = "{{ APP.href('shipments/rates?id=' ~ order.id()) }}";
        var defSuccessMsg = "{{ 'Operation successful'|_ }}";
        var defErrorMsg = "{{ 'There was an error during processing'|_ }}";
        var container = $('#tab-shipments');

        function processPostResponse(data, status, xhr) {
            data = data || {};
            if (status !== 'success') {
                data.error = true;
                data.message = data.message || defErrorMsg;
            }
            if (data.otherInfo) {
                $('.page-header .entity-glimpse').html(data.otherInfo);
            }
            if (data.tabs) {
                _.each(data.tabs, function (tabHtml, i) {
                    $('#tab-' + i).html(tabHtml).data('loaded', !!tabHtml);
                });
            }
            var msg = data.message || (data.error ? defErrorMsg : defSuccessMsg), type = data.error ? 'danger' : 'success';
            $.bootstrapGrowl(msg, {type: type, align: 'center', width: 'auto', delay: 1000});
        }

        function calculateWeight() {
            var totalWeight = 0;
            $('.item-qty').each(function () {
                var itemWeight = parseFloat($(this).data('weight'));
                totalWeight += itemWeight * $(this).val();
            });

            $('#shipment-weight').val(totalWeight);
        }

        // Create shipments or update shipments data
        container.unbind().on('click', '#btnShipmentCreate, #btnShipmentUpdate', function(ev) {
            var postUrl = !ev.target.dataset.action ? shipmentCreateUrl : shipmentUpdateUrl;
            var serializeData = $(ev.target.dataset.container).find('input, select').serializeArray();
            $.post(postUrl, serializeData, processPostResponse);
        });

        // Update shipment status
        container.on('click', '.js-shipment-action', function(ev) {
            var $el = $(ev.target), postData = {};
            postData[$el.attr('name')] = $el.val();
            $.post(shipmentUpdateUrl, postData, processPostResponse);
        });

        // Get rates for the selected shipping method
        container.on('click', '#btnShipmentGetRates', function(ev) {
            var serializeData = $(container).find('input, select').serializeArray();
            $.post(ratesUrl, serializeData, processPostResponse);
        });

        // Receiving tracking updates
        container.on('click', '.js-shipment-update-tracking', function (ev) {
            ev.preventDefault();
            var $el = $(ev.target);
            var shipmentUpdateTrackingUrl = $el.attr('href');
            var serializeData = $el.parent().find('input, select').serializeArray();

            $.post(shipmentUpdateTrackingUrl, serializeData, processPostResponse);
        });

        // Recalculate package weight
        container.on('click', 'select.item-qty', calculateWeight);

        // link carrier and service dropdowns
        var $carrier = $('#shipment-carrier_code'), $service = $('#shipment-service_code');
        var allServices = {{ UTIL.toJson(allServices) | raw }};
        $carrier.change(function(ev) {
            $service.find('option').remove();
            $service.append($('<option>'));
            var services = allServices[$carrier.val()] ? allServices[$carrier.val()].services : {};
            if (services) {
                for (var i in services) {
                    $service.append($('<option>').val(services[i].value).html(services[i].label));
                }
            }
        });

        calculateWeight();
    })
</script>