{% set p = THIS.get('product') %}
{% set viewType = THIS.get('view_type') %}{# grid or list#}
{% set blockId = p.get(viewType ~ '_cms_block_id') %}

{% if blockId %}
    {% set view = APP.instance('Sellvana_Cms_Frontend_View_Block').createView(blockId) %}
    {{ view.set({ product:p }) | raw }}
{% else %}
    {{ p.get(viewType ~ '_contents') | raw }}
{% endif %}