<style>
    .zoom:after {
        background: url("{{ APP.src('@FCom_Core/img/zoom-corner.png') }}");
    }
</style>

{% set prod = THIS.get('product') %}
{% set inventory = prod.getInventoryModel() %}
{% set mediaItems = prod.gallery(true) %}
{% set cat = THIS.get('category') %}

{% set productLinks = prod.getProductLinks() %}

{% set canOrder = prod.canOrder() %}

{{ THIS.view('breadcrumbs') | raw }}

{{ THIS.view('core/messages') | raw }}

<div itemscope itemtype="http://data-vocabulary.org/Product">
    <div class="row">
        <!-- Product Image Column -->
        <div class="col-md-5 f-col-prod-img">
            <div class="f-rslides-container">
                <ul class="thumbnails f-rslides f-prod-imgs" id="product-rslides">
                    {% if mediaItems %}
                        {% for media in mediaItems %}
                            {% if media.get('media_type') == 'V' %}
                                {% if media.get('file_size') %}
                                    <li class="product-video-item">
                                        <video class="product-video" preload="metadata" src="{{ media.getUrl() }}">
                                            <source type="video/{{ media.get('file_name')[-3: 3] }}" src="{{ media.getUrl() }}" />
                                        </video>
                                    </li>
                                {% else %}
                                    {% set html = media.getData('html') %}
                                    {% if html %}
                                        <li class="product-video-item external_link" style="padding: 80px 0;">{{ html | raw }}</li>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <li><img data-id="{{ media.id() }}" class="f-prod-img img-responsive" src="{{ media.thumbUrl(458) }}{#{ img.imageUrl(1) }#}" alt="" itemprop="image"/></li>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <li><img class="f-prod-img img-responsive" src="{{ prod.thumbUrl(458) }}" alt="" itemprop="image"/></li>
                    {% endif %}
                </ul>
            </div>
            <p class="text-center">
                <small>{{ 'Mouse move on Image to zoom'|_ }}</small>
            </p>
            <ul class="f-prod-more-view-imgs row" id="product-rslides-pager">
                {% for media in mediaItems %}
                    {% if media.get('media_type') == 'V' %}
                        {% if media.get('file_size') %}
                            <li class="col-md-2 col-xs-2" data-id="{{ media.id() }}" style="padding: 15px 0;">
                                <a href="javascript:void(0)"><img src="{{ APP.src('@FCom_Admin/Admin/theme1/assets/images/video-default.jpg') }}" title="There's no image for this video" class="video_thumb"></a>
                            </li>
                        {% else %}
                            {% if media.getData('title') %}
                                <li class="col-md-2 col-xs-2" data-id="{{ media.id() }}" style="padding: 15px 3px;">
                                    <a href="javascript:void(0)"><img class="external_thumb img-responsive" src="{{ media.getData('thumbnail_url')|escape('url') }}" title="{{ media.getData('title') }}"></a>
                                </li>
                            {% endif %}
                        {% endif %}

                    {% else %}
                        <li class="col-md-2 col-xs-2" data-id="{{ media.id() }}"><a href="#"><img src="{{ media.thumbUrl(90) }}" alt="" class="img-responsive" title=""></a></li>
                    {% endif %}
                {% endfor %}
            </ul>
            <a href="#" hidden id="display-all-images"><i
                        class="glyphicon glyphicon-refresh"></i> {{ "Display all images"|_ }}</a>
        </div>
        <!-- /.f-col-prod-img -->

        <!-- Product Select Column-->
        <div class="col-md-7 f-col-prod-select">
            <form action="{{ APP.href('cart/add') }}" method="post" onsubmit="">
                <input type="hidden" name="X-CSRF-TOKEN" value="{{ SESSION.csrfToken() }}"/>
                <input type="hidden" name="id" value="{{ prod.id() }}">

                <h1 class="f-prod-name" itemprop="name">{{ prod.getName() }}</h1>
                <p class="f-sku" itemprop="identifier" content="sku:{{ prod.get('product_sku') }}">{{ prod.get('product_sku') }}</p>

                {{ THIS.view('prodreviews/product-details-summary').set('product', prod) | raw }}

                {{ THIS.view('catalog/product/price').set('product', prod) | raw }}

                <div class="f-prod-select">

                    {{ THIS.hook('catalog/product/details:before_add_cart') | raw }}

                    <div class="f-prod-add-cart">
                        {{ THIS.view('catalog/product/custom-fields').set('product', prod) | raw }}
                        {{ THIS.view('catalog/product/variants').set('product', prod) | raw }}
                        {{ THIS.view('catalog/product/shopper-fields').set('product', prod) | raw }}

                        <div class="f-stock-notice {{ canOrder ? '-in-stock' }}" data-id="{{ prod.id() }}">
                            <p class="f-in-stock">
                                {{ 'In Stock.'|_ }}
                                {% if inventory.getWarnCustomerQty() %}
                                    {{ '(Only %s left in stock)'|_(inventory.getWarnCustomerQty()) }}
                                {% endif %}
                            </p>
                            <p class="f-out-of-stock">{{ 'Out Of Stock.'|_ }}</p>
                        </div>

                        <div class="form-group row overflow-hidden">
                            <label class="col-md-3 control-label">{{ 'Quantity:' |_ }}</label>

                            <div class="col-md-2">
                                <input type="number" name="qty" class="form-control col-md-3" value="1"/>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-primary btn-lg" title="{{ "Add to Cart"| _ }}"
                                id="prod-add-to-cart">
                            <span class="glyphicon glyphicon-shopping-cart"></span>{{ "Add to Cart"| _ }}</button>

                        {{ THIS.view('wishlist/add-button').set('product', prod) | raw }}

                        <!--<a class="btn btn-link" href="{{ APP.href('wishlist/add?id=') ~ prod.id() }}"
                           rel="nofollow">{{ "Add to Wishlist"|_ }}</a>-->

                        {{ THIS.view('catalog/compare-link').set('product_id', prod.id()) | raw }}

                    </div>
                </div>
                <!-- /.f-prod-select -->
            </form>
        </div>
        <!-- /.f-col-prod-select -->
    </div> <!-- /.row -->
    <div class="f-prod-info">
        <div class="tab-content">

            <section class="tab-pane active" id="f-prod-tab-description">
                <div class="f-tab-heading">
                    <h5 class="f-tab-title">{{ 'Product Description'|_ }}</h5>
                </div>
                <div itemprop="description">{{ prod.getDescription() | raw }}</div>

                {{ THIS.hook('catalog/product/details:after_description', {product: prod}) | raw }}
            </section>
            {{ THIS.hook('catalog/product/details:after_content', {product: prod}) | raw }}
        </div>
    </div><!-- /.f-prod-info -->
</div>
<br/>
{% for link in productLinks %}
    {% if link.products %}
        <div class="f-widget f-widget-featured-prods">
            <header class="f-widget-header">
                <strong class="f-widget-title">{{ link.title }}</strong>
            </header>

            <div class="f-widget-content">
                {{ THIS.view('catalog/product/grid-tiles').set({
                    products: link.products,
                    simple_view: true,
                    list_name: link.title,
                }) | raw }}
            </div>

        </div><!-- /.f-widget -->
    {% endif %}
{% endfor %}

{{ THIS.view('catalog/product/quickview') | raw }}

<script>
    require(['jquery', 'underscore', 'responsiveslides', 'jquery.zoom', 'jquery.media-element'], function ($, _) {
        var pager = $('#product-rslides-pager');
        $("#product-rslides").responsiveSlides({
            auto: false,
            speed: 500,
            nav: true,
            namespace: "f",
            manualControls: '#product-rslides-pager'
        });

        $('#product-rslides li:not(".product-video-item")').addClass('zoom').zoom();

        // Fix external video size
        var $externalVideoNode = $('.external_link').children('iframe');

        $('video').mediaelementplayer({
            features: ['playpause','progress','current','duration','tracks','volume','fullscreen']
        });
    })
</script>
